/*! river - v2.3.2 - 29-07-2015 */
.border-radius-5 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.border-radius-top-5 {
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.border-radius-bottom-5 {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.border-radius-10 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.border-radius-top-10 {
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
.border-radius-bottom-10 {
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
.no-border-radius-bottom {
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.content-box {
  -webkit-box-sizing: content-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: content-box;
  /* Firefox, other Gecko */
  box-sizing: content-box;
  /* Opera/IE 8+ */
}
/* Reset Bootstrap 3.2.0 + Pojo Framework */
/* =General
----------------------------------------------- */
body {
  font-size: 13px;
}
.container {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.media {
  margin-top: 20px;
}
.media:first-child {
  margin-top: 0;
}
/* =Menu
----------------------------------------------- */
.navbar.navbar-default {
  margin: 0;
  background: transparent;
  border-color: #eeeeee;
}
.navbar.navbar-default .nav {
  margin-top: 0;
  margin-bottom: 0;
}
.navbar.navbar-default .nav ul.sub-menu {
  list-style: none outside none;
}
.navbar.navbar-default .nav ul.sub-menu li {
  display: block;
  position: relative;
}
.navbar-collapse {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-right: 0;
  padding-left: 0;
}
/* =Forms
----------------------------------------------- */
.form-control:focus,
.form-control:focus + span .btn {
  box-shadow: none;
}
/* =Basic print styles
----------------------------------------------- */
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: none;
  }
  a[href]:after {
    content: "";
  }
  abbr[title]:after {
    content: "";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
}
/* =Reset Pojo Framework
----------------------------------------------- */
button,
textarea,
input[type="submit"],
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  padding: 8px 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
select {
  padding: 6px 9px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.button,
.button.size-small,
.button.size-large,
.button.size-xl,
.button.size-xxl,
.form .field {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
input[type="submit"],
.button,
.button.size-small,
.button.size-large,
.button.size-xl,
.button.size-xxl {
  border-width: 2px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
input[type="submit"]:hover,
.button:hover,
.button.size-small:hover,
.button.size-large:hover,
.button.size-xl:hover,
.button.size-xxl:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* = Global
----------------------------------------------- */
a {
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
a:hover,
a:focus {
  text-decoration: none;
}
ul {
  list-style-type: square;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5em;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
.image-radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.image-radius-top {
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
/* = Layout Site
----------------------------------------------- */
.boxed #page-header {
  max-width: 1140px;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
.boxed #page-header > .container {
  padding-right: 30px;
  padding-left: 30px;
}
.boxed #page-header .ms-slide .ms-slide-bgcont,
.boxed #page-header .ms-slide .ms-slide-bgvideocont {
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
.boxed #page-header .rev_slider ul li,
.boxed #page-header .rev_slider > ul > li {
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
.boxed #primary {
  background-color: #FFFFFF;
  max-width: 1140px;
  position: relative;
  margin-bottom: 30px;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  z-index: 1;
}
.boxed #primary > .container {
  padding-right: 30px;
  padding-left: 30px;
}
.boxed #footer #sidebar-footer {
  margin-top: -100px;
  padding-top: 100px;
}
.layout-section .boxed section.section .container {
  padding-left: 30px;
  padding-right: 30px;
}
.pojo-page-blank .boxed #primary {
  background-color: transparent;
}
/* = iframe & embed Responsive
----------------------------------------------- */
embed,
iframe,
object {
  max-width: 100%;
  line-height: 1;
}
.custom-embed {
  line-height: 0;
}
div.embed {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  clear: both;
}
div.embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* = Page Builder - Helper Classes
----------------------------------------------- */
.container-box {
  padding-right: 15px !important;
  padding-left: 15px !important;
}
.container-extra-box {
  padding-right: 30px !important;
  padding-left: 30px !important;
}
/* = Breadcrumbs
----------------------------------------------- */
#breadcrumbs a {
  color: inherit;
}
#breadcrumbs .separator {
  margin: 0 5px;
}
#primary #breadcrumbs {
  font-size: 12px;
  margin-bottom: 10px;
}
/* = Pagination
----------------------------------------------- */
.align-pagination {
  text-align: center;
}
.align-pagination .pagination > li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}
.align-pagination .pagination > li > a,
.align-pagination .pagination > li > span {
  font-weight: bold;
  background-color: transparent;
  border-width: 0;
  color: #8B8B8B;
}
.align-pagination .pagination > li > a:hover,
.align-pagination .pagination > li > span:hover,
.align-pagination .pagination > li > a:focus,
.align-pagination .pagination > li > span:focus {
  background-color: #FFFFFF;
}
.align-pagination .pagination > li:first-child > a,
.align-pagination .pagination > li:last-child > a,
.align-pagination .pagination > li:first-child > span,
.align-pagination .pagination > li:last-child > span {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.align-pagination .pagination > .active a {
  background-color: transparent;
}
/* Infinite Scroll */
.pojo-loadmore-wrap,
.pojo-loading-wrap {
  clear: both;
  text-align: center;
  padding: 30px 0;
  overflow: hidden;
}
.pojo-loadmore-wrap .button,
.pojo-loading-wrap .button {
  background-color: transparent;
}
.pojo-loadmore-wrap .pojo-loading,
.pojo-loading-wrap .pojo-loading {
  text-align: center;
  margin: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  line-height: 1em;
  padding: 8px 16px;
  vertical-align: middle;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.pojo-loadmore-wrap .button,
.pojo-loading-wrap .button,
.pojo-loadmore-wrap .pojo-loading,
.pojo-loading-wrap .pojo-loading {
  font-weight: bold;
  text-transform: uppercase;
}
.pojo-loadmore-wrap .pojo-loading:before,
.pojo-loading-wrap .pojo-loading:before {
  content: '\f021';
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin-right: 5px;
  animation: 2s linear 0s normal none infinite fa-spin;
  -webkit-animation: 2s linear 0s normal none infinite fa-spin;
}
/* = Social links
----------------------------------------------- */
ul.social-links {
  margin: 0;
  padding: 0;
  list-style: none !important;
}
ul.social-links li {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 6px;
}
ul.social-links li a {
  display: block;
}
ul.social-links li a .social-icon:before {
  line-height: 26px;
  font-size: 15px;
  font-weight: normal;
  font-family: fontawesome;
  display: block;
  text-align: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
ul.social-links li a:hover .social-icon:before {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
ul.social-links li.social-facebook .social-icon:before {
  content: "\f09a";
}
ul.social-links li.social-twitter .social-icon:before {
  content: "\f099";
}
ul.social-links li.social-googleplus .social-icon:before {
  content: "\f0d5";
}
ul.social-links li.social-youtube .social-icon:before {
  content: "\f16a";
}
ul.social-links li.social-linkedin .social-icon:before {
  content: "\f0e1";
}
ul.social-links li.social-pinterest .social-icon:before {
  content: "\f0d2";
}
ul.social-links li.social-github .social-icon:before {
  content: "\f09b";
}
ul.social-links li.social-instagram .social-icon:before {
  content: "\f16d";
}
ul.social-links li.social-vimeo .social-icon:before {
  content: "\f194";
}
ul.social-links li.social-flickr .social-icon:before {
  content: "\f16e";
}
ul.social-links li.social-foursquare .social-icon:before {
  content: "\f180";
}
ul.social-links li.social-dribbble .social-icon:before {
  content: "\f17d";
}
ul.social-links li.social-tumblr .social-icon:before {
  content: "\f173";
}
ul.social-links li.social-contact .social-icon:before {
  content: "\f129";
}
ul.social-links li.social-rss .social-icon:before {
  content: "\f09e";
}
/* = Isotope Filtering
----------------------------------------------- */
.isotope,
.isotope .isotope-item {
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
/* = Forms
----------------------------------------------- */
.form-search {
  padding-bottom: 0;
}
.form-search button {
  background: transparent;
  border: 0 none;
  color: #cccccc;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 35px;
}
.form-search button:hover {
  color: #999999;
}
/* = header
----------------------------------------------- */
#top-bar .widget {
  display: inline-block;
}
#top-bar ul.social-links {
  margin: 0;
  padding: 0;
  list-style: none !important;
}
#top-bar ul.social-links li a .social-icon:before {
  line-height: 2em;
  font-size: 1em;
  width: 2em;
  height: 2em;
}
#top-bar .form-search {
  display: inline-block;
  vertical-align: middle;
}
#top-bar .form-search .field {
  background-color: transparent;
  height: 2em;
  line-height: 1em;
  color: inherit;
  border-color: inherit;
}
#top-bar .form-search button {
  width: 2em;
  color: inherit;
}
#top-bar #searchform {
  display: inline-block;
  vertical-align: middle;
}
#top-bar #searchform input[type="text"] {
  background-color: transparent;
  height: 2em;
  line-height: 1em;
  color: inherit;
  border-color: inherit;
  display: inline-block;
  padding: 0.2em 0.5em;
  width: 15em;
}
#top-bar #searchform input[type="submit"] {
  width: auto;
  display: inline-block;
  padding: 0.2em 0.5em;
}
#top-bar .menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
#top-bar .menu li {
  display: inline-block;
}
#top-bar .menu li a {
  padding-left: 3px;
  padding-right: 3px;
}
#header.logo-right .logo,
.sticky-header.logo-right .logo {
  float: right;
}
#header.logo-right .nav-main,
.sticky-header.logo-right .nav-main {
  float: left;
}
#header.logo-left .logo,
.sticky-header.logo-left .logo {
  float: left;
}
#header.logo-left .nav-main,
.sticky-header.logo-left .nav-main {
  float: right;
}
#header {
  -webkit-box-sizing: content-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: content-box;
  /* Firefox, other Gecko */
  box-sizing: content-box;
  /* Opera/IE 8+ */
}
#header:before,
#header:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
#header:after {
  clear: both;
}
#header .logo {
  overflow: hidden;
}
.sticky-header {
  display: none;
  margin: auto;
  height: 60px;
  opacity: 0.95;
  left: 0;
  right: 0;
  -webkit-box-sizing: content-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: content-box;
  /* Firefox, other Gecko */
  box-sizing: content-box;
  /* Opera/IE 8+ */
  z-index: 9998;
}
.sticky-header:before,
.sticky-header:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.sticky-header:after {
  clear: both;
}
.sticky-header .logo {
  overflow: hidden;
  max-height: 60px;
  padding: 15px 0;
  margin: 0;
}
.sticky-header .logo .logo-text {
  text-transform: uppercase;
}
.sticky-header .sf-menu > li.pojo-menu-search,
.sticky-header .sf-menu > li > a {
  line-height: 60px;
}
.sticky-header .sf-menu > li:hover > ul,
.sticky-header .sf-menu > li.sfHover > ul {
  top: 60px;
}
.sticky-header .menu-no-found {
  line-height: 60px;
}
body.admin-bar .sticky-header {
  top: 32px !important;
}
/* = Outer Slidebar
----------------------------------------------- */
#outer-slidebar {
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  display: none;
}
#outer-slidebar #outer-slidebar-overlay {
  position: relative;
  padding: 50px 0;
}
#outer-slidebar #outer-slidebar-toggle {
  position: absolute;
  right: 0;
  margin: 0;
  z-index: 9999;
}
#outer-slidebar #outer-slidebar-toggle a {
  display: block;
  line-height: 1;
  border-color: transparent;
  border-style: solid;
  border-width: 0 50px 50px 0;
  bottom: -50px;
  height: 0;
  position: absolute;
  right: 0;
  width: 0;
  outline: none;
}
#outer-slidebar #outer-slidebar-toggle a:after {
  content: "\f067";
  font-family: fontawesome;
  display: block;
  font-size: 11px;
  height: 50px;
  left: 32px;
  position: absolute;
  top: 10px;
}
#outer-slidebar #outer-slidebar-toggle a.open:after {
  content: "\f068";
}
#outer-slidebar h5.widget-title {
  margin-top: 0;
}
#outer-slidebar .form-search .field {
  background-color: transparent;
  color: inherit;
  border-color: inherit;
}
#outer-slidebar .form-search button {
  color: inherit;
}
/* = Menu - SuperFish
----------------------------------------------- */
.sf-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sf-menu ul {
  position: absolute;
  top: -999em;
  width: 15em;
}
.sf-menu ul li {
  width: 100%;
}
.sf-menu > li.active > a,
.sf-menu > li.current-menu-item > a,
.sf-menu > li.current-menu-parent > a,
.sf-menu > li.current-menu-ancestor > a,
.sf-menu > li.current_page_item > a,
.sf-menu > li.current_page_paren > a,
.sf-menu > li.current_page_ancestor > a {
  padding-right: 0;
  padding-left: 0;
}
.sf-menu > li.active > a > span,
.sf-menu > li.current-menu-item > a > span,
.sf-menu > li.current-menu-parent > a > span,
.sf-menu > li.current-menu-ancestor > a > span,
.sf-menu > li.current_page_item > a > span,
.sf-menu > li.current_page_paren > a > span,
.sf-menu > li.current_page_ancestor > a > span {
  padding: 6px 1.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.sf-menu li {
  float: left;
  position: relative;
}
.sf-menu li a {
  display: block;
  position: relative;
  padding: 0 1.5em;
  text-decoration: none;
  z-index: 2;
}
.sf-menu li.active,
.sf-menu li:hover,
.sf-menu li.current-menu-item,
.sf-menu li.current-menu-parent,
.sf-menu li.current-menu-ancestor,
.sf-menu li.current_page_item,
.sf-menu li.current_page_paren,
.sf-menu li.current_page_ancestor {
  visibility: inherit;
}
.sf-menu li:hover,
.sf-menu li.sfHover {
  outline: 0;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  left: 0;
  z-index: 99;
}
.sf-menu a {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.sf-menu a:focus,
.sf-menu a:hover,
.sf-menu a:active {
  outline: 0;
}
.sf-menu .sub-menu {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.sf-menu .sub-menu li {
  height: auto !important;
  line-height: 1em !important;
  border-top: none;
}
.sf-menu .sub-menu li a {
  height: auto !important;
}
.sf-menu .sub-menu li:last-child:hover > a,
.sf-menu .sub-menu li:last-child.current-menu-item > a {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul,
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top: -999em;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  left: 0;
  z-index: 99;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul,
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left: 15em;
  top: 0;
}
.sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sf-menu > li > a > span.sf-sub-indicator {
  display: none;
}
/* = Menu Mobile
----------------------------------------------- */
.navbar-toggle {
  background-color: transparent;
  border: 0 none;
  margin: 0;
  padding: 5px 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar-toggle:focus {
  background-color: transparent;
}
.nav-main {
  float: right;
  max-width: 80%;
}
.nav-main .navbar-collapse {
  max-height: 360px;
}
.nav-main .navbar-collapse .mobile-menu {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.nav-main .navbar-collapse .mobile-menu > li {
  display: block;
  margin: 0;
  padding: 0;
}
.nav-main .navbar-collapse .mobile-menu > li a {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 15px;
  display: block;
}
.nav-main .navbar-collapse .mobile-menu .sub-menu {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
/* = Menu Search
----------------------------------------------- */
.pojo-menu-search .menu-search-input input {
  display: inline;
  margin: 0;
  padding: 8px 8px 8px 24px;
  width: 0px;
  font-size: 12px;
  line-height: 1;
  cursor: pointer;
  background: transparent;
  opacity: 0.5;
  border: none;
  outline: none;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  position: relative;
}
.pojo-menu-search .menu-search-input input:hover {
  opacity: 1;
}
.pojo-menu-search .menu-search-input input:focus {
  opacity: 1;
  width: 130px;
  border: 1px solid;
  cursor: text;
}
.pojo-menu-search .menu-search-input:before {
  content: '\f002';
  font-family: fontawesome;
  font-style: normal;
  font-weight: normal;
  float: left;
  margin-right: -24px;
  width: 24px;
  text-align: center;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.pojo-menu-search .menu-search-submit input {
  display: none;
}
/* = Page Header
----------------------------------------------- */
#page-header {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  z-index: 1;
}
#page-header:before,
#page-header:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
#page-header:after {
  clear: both;
}
#page-header.pojo-slideshow-wrap,
#page-header.rev-slider-wrap {
  height: auto;
  padding: 0;
}
/* = Primary
----------------------------------------------- */
.layout-section #primary > .container {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
}
.layout-section #primary > .container #content {
  margin: 0;
}
.layout-section #primary > .container #content:before,
.layout-section #primary > .container #content:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.layout-section #primary > .container #content:after {
  clear: both;
}
.layout-section #primary > .container #content #main {
  margin: 0;
}
.layout-section #primary > .container #content #main header.container {
  padding: 0 15px;
}
#primary {
  margin: auto;
}
#primary #content #main {
  margin-top: 30px;
  margin-bottom: 30px;
}
#primary #content #main.sidebar-left {
  float: right;
}
#primary .entry-tags {
  margin-top: 15px;
}
#primary .entry-tags a {
  border: 1px solid #eeeeee;
  color: #999999;
  display: inline-block;
  font-size: 12px !important;
  line-height: 20px;
  margin-bottom: 8px;
  padding: 2px 10px;
}
#primary .entry-tags a:hover {
  background: #999999;
  color: #FFFFFF;
}
/* = Post details
----------------------------------------------- */
.page-title h1 {
  margin-top: 0;
}
.page-title .entry-meta {
  margin-bottom: 15px;
}
.entry-meta {
  line-height: 0px;
  font-size: 0;
}
.entry-meta span {
  line-height: 1.2em;
  margin-left: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #b5b5b5;
}
.entry-meta span a {
  color: inherit;
}
.entry-meta span a:hover {
  text-decoration: underline;
}
.entry-meta span:before {
  content: '\2981';
  margin-right: 5px;
}
.entry-meta span:first-child {
  margin-left: 0;
}
.entry-meta span:first-child:before {
  content: '';
  margin-right: 0;
}
.read-more {
  float: right;
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
}
/* = Content Structure
----------------------------------------------- */
.media .media-heading {
  margin-top: 10px;
  margin-bottom: 10px;
}
.media .pull-left {
  margin-right: 20px;
  max-width: 33%;
}
.media .entry-meta {
  float: left;
}
.extra-blog.media {
  padding-bottom: 10px;
}
.extra-blog .overlay-image {
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.extra-blog .media-body {
  background-color: #f6f6f6;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}
.small-thumbnail.media {
  border-width: 0 0 1px;
  border-style: dotted;
  border-color: #AAAAAA;
  padding-bottom: 20px;
}
.small-thumbnail .overlay-image {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.grid-item {
  margin-bottom: 30px;
}
.grid-item .inbox {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.grid-item .inbox:hover .overlay-image {
  opacity: 1;
}
.grid-item .inbox:hover .overlay-image + .overlay-title {
  opacity: 1;
}
.grid-item .inbox .overlay-image {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.grid-item .inbox .caption h4.grid-heading {
  margin-top: 10px;
  margin-bottom: 10px;
}
.grid-item .inbox .caption .entry-excerpt {
  margin: 10px 0;
}
.grid-item .inbox .caption .entry-excerpt p {
  margin: 0;
}
.grid-item.gallery-item .inbox .overlay-image,
.grid-item.masonry-item .inbox .overlay-image {
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.grid-item.gallery-item .inbox .caption,
.grid-item.masonry-item .inbox .caption {
  background-color: #f6f6f6;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
/* = Galleries
----------------------------------------------- */
.category-filters {
  border-width: 1px 0;
  border-style: dotted;
  border-color: #AAAAAA;
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
  line-height: 0;
  font-size: 0;
}
.category-filters:before,
.category-filters:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.category-filters:after {
  clear: both;
}
.category-filters li {
  display: inline-block;
}
.category-filters li a {
  display: block;
  line-height: 3em;
  font-size: 16px;
  font-weight: bold;
  padding: 0 1.5em;
  margin: 0;
  outline: none;
  -webkit-transition: all 0.3s ease-in 0.1s;
  transition: all 0.3s ease-in 0.1s;
}
.gallery-item.grid-item .inbox .caption {
  text-align: center;
}
.gallery-item.grid-item .inbox .caption h4.grid-heading {
  margin-top: 10px;
  margin-bottom: 0;
}
.gallery-item.grid-item .inbox .caption small {
  display: block;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #b5b5b5;
}
.gallery-item.grid-item.square-item {
  margin-bottom: 0;
}
.gallery-item.grid-item.square-item .overlay-image + .overlay-title {
  top: 0;
  bottom: 0;
}
.gallery-item.grid-item.square-item .overlay-image + .overlay-title.caption {
  padding: 0;
  text-align: center;
  height: 2em;
  line-height: 1em;
}
.gallery-item.grid-item.square-item .overlay-image + .overlay-title.caption:before {
  display: none;
}
/* = Image Overlay
----------------------------------------------- */
.image-link {
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
}
.image-link img {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.image-link:hover .overlay-image {
  opacity: 1;
}
.image-link:hover .overlay-image + .overlay-title {
  opacity: 1;
}
.image-link .overlay-image {
  background-color: rgba(0, 0, 0, 0.5);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in 0.1s;
  transition: all 0.3s ease-in 0.1s;
}
.image-link .overlay-image + .overlay-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  width: auto;
  text-align: center;
  line-height: 20px;
  height: 20px;
  opacity: 0;
}
.image-link .overlay-image + .overlay-title .fa {
  color: #FFFFFF;
}
/* = Recent Post or Gallery
----------------------------------------------- */
.recent-post.media {
  margin-top: 15px;
  padding-bottom: 15px;
}
.recent-post.media .pull-left {
  max-width: 25%;
}
.recent-post.media .media-body {
  font-size: 13px;
  line-height: 1.5em;
}
.recent-post.media .media-body .media-heading {
  margin-top: 0;
}
.recent-post.grid-item .inbox .caption {
  padding: 0;
}
.recent-post.grid-item .inbox .caption P {
  margin-bottom: 0;
}
.row.gallery-style-square {
  margin-left: 0;
  margin-right: 0;
}
/* = Single Gallery
----------------------------------------------- */
.single-gallery-content-left .gallery-thumbnail {
  float: right;
}
.single-gallery-content-left .gallery-content {
  float: left;
}
/* = 404 Page
----------------------------------------------- */
.error404 #content article {
  text-align: center;
}
.error404 #content article h1 {
  font-size: 100px;
}
/* = Sidebar
----------------------------------------------- */
#sidebar {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* = Widget
----------------------------------------------- */
#sidebar .menu,
#sidebar .sub-menu,
#sidebar .sub-page-menu {
  margin: 0;
  padding: 0;
}
#sidebar .menu li,
#sidebar .sub-menu li,
#sidebar .sub-page-menu li {
  list-style: none;
}
#sidebar .menu li a,
#sidebar .sub-menu li a,
#sidebar .sub-page-menu li a {
  display: block;
  line-height: 3em;
  border-style: dotted;
  border-width: 1px 0 0;
  border-color: #AAAAAA;
  padding: 0 10px;
}
#sidebar .menu li a:after,
#sidebar .sub-menu li a:after,
#sidebar .sub-page-menu li a:after {
  content: '\f0a9';
  font-family: fontawesome;
  font-weight: normal;
  float: right;
}
#sidebar .menu,
#sidebar .sub-page-menu {
  border-style: dotted;
  border-width: 0 0 1px;
  border-color: #AAAAAA;
}
#sidebar,
#sidebar-footer {
  /* recent post & gallery */
}
#sidebar .widget,
#sidebar-footer .widget {
  margin-bottom: 20px;
}
#sidebar .widget .widget-title,
#sidebar-footer .widget .widget-title {
  margin-top: 0;
}
#sidebar ul,
#sidebar-footer ul {
  padding: 0;
}
#sidebar ul li,
#sidebar-footer ul li {
  list-style-type: square;
  list-style-position: inside;
}
#sidebar .row.isotope,
#sidebar-footer .row.isotope {
  margin-right: -5px;
  margin-left: -5px;
}
#sidebar .row.isotope .grid-item,
#sidebar-footer .row.isotope .grid-item {
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}
#sidebar .row.isotope .grid-item .caption,
#sidebar-footer .row.isotope .grid-item .caption {
  margin-top: 5px;
}
#sidebar .row.isotope .grid-item .caption .grid-heading,
#sidebar-footer .row.isotope .grid-item .caption .grid-heading {
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1em;
  font-size: 1em;
}
#sidebar .recent-post.media,
#sidebar-footer .recent-post.media {
  margin-top: 10px;
  margin-bottom: 0;
}
#sidebar .recent-post.media:first-child,
#sidebar-footer .recent-post.media:first-child {
  margin-top: 0;
}
#sidebar .recent-post .inbox,
#sidebar-footer .recent-post .inbox {
  background-color: transparent;
  border-width: 0;
}
#sidebar .recent-post .inbox .media-body,
#sidebar-footer .recent-post .inbox .media-body {
  padding: 0;
}
#sidebar .recent-post .media-heading,
#sidebar-footer .recent-post .media-heading {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1.2em;
  font-size: 0.9em;
}
#sidebar .recent-post.small-thumbnail .pull-left,
#sidebar-footer .recent-post.small-thumbnail .pull-left {
  margin-right: 10px;
  max-width: 20%;
}
#sidebar .recent-post.small-thumbnail .media-heading,
#sidebar-footer .recent-post.small-thumbnail .media-heading {
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
}
#sidebar .recent-post.grid-item,
#sidebar-footer .recent-post.grid-item {
  margin-bottom: 10px;
}
#sidebar .recent-post.grid-item.square-item,
#sidebar-footer .recent-post.grid-item.square-item {
  margin-bottom: 0;
}
#sidebar .recent-post .image-link:hover img,
#sidebar-footer .recent-post .image-link:hover img,
#sidebar .recent-galleries .image-link:hover img,
#sidebar-footer .recent-galleries .image-link:hover img {
  -moz-transform: none;
  -webkit-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
}
#sidebar .recent-post .image-link .overlay-title,
#sidebar-footer .recent-post .image-link .overlay-title,
#sidebar .recent-galleries .image-link .overlay-title,
#sidebar-footer .recent-galleries .image-link .overlay-title {
  display: none;
}
.widget_tag_cloud a {
  border: 1px solid #eeeeee;
  color: #999999;
  display: inline-block;
  font-size: 12px !important;
  line-height: 20px;
  margin-bottom: 8px;
  padding: 2px 10px;
}
.widget_tag_cloud a:hover {
  background: #999999;
  color: #FFFFFF;
}
#wp-calendar {
  width: 100%;
  text-align: center;
}
#wp-calendar caption {
  padding: 4px;
  border: 1px solid #cccccc;
  border-bottom: none;
}
#wp-calendar td,
#wp-calendar th {
  border: 1px solid #cccccc;
  padding: 4px;
  text-align: center;
}
.opening-hours-wrap {
  overflow: hidden;
}
.opening-hours-wrap .day-row {
  width: 100%;
}
.opening-hours-wrap .day-row .day-title {
  float: left;
  font-weight: bold;
  width: 30%;
}
.opening-hours-wrap .day-row .day-time {
  float: right;
  width: 70%;
  text-align: right;
}
/* = Footer
----------------------------------------------- */
#sidebar-footer {
  padding: 30px 0;
}
#copyright {
  overflow: hidden;
}
/* = Images & Gallery
----------------------------------------------- */
img {
  height: auto;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
img.alignleft {
  display: inline;
  margin: 10px 15px 10px 0;
}
img.alignright {
  display: inline;
  float: right;
  margin: 10px 0 10px 15px;
}
img.aligncenter {
  display: block;
  clear: both;
  margin: 10px auto;
}
.wp-caption {
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 0.8em;
  line-height: 2em;
  font-style: italic;
  margin-bottom: 0;
}
.wp-caption.alignleft {
  margin: 10px 15px 10px 0;
}
.wp-caption.alignright {
  margin: 10px 0 10px 15px;
}
.wp-caption.aligncenter {
  margin: 10px auto 10px;
}
.gallery {
  margin: 0 auto;
}
.gallery .gallery-item a {
  display: block;
}
.gallery .gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
  padding: 5px;
  margin: 0 !important;
}
.gallery.gallery-columns-2 .gallery-item {
  max-width: 50%;
}
.gallery.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}
.gallery.gallery-columns-4 .gallery-item {
  max-width: 25%;
}
.gallery.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.gallery.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}
.gallery.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}
.gallery.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.gallery.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}
.gallery img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border: none !important;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.gallery img:hover {
  opacity: 0.7;
}
.gallery .gallery-caption {
  margin: 0;
}
/* =PrettyPhoto
----------------------------------------------- */
div.pp_default .pp_description {
  margin: 5px 50px;
  text-align: center;
}
/* = Comments
----------------------------------------------- */
#respond {
  margin: 0;
}
#commentform input[type="text"],
#commentform input[type="email"],
#commentform input[type="url"],
#commentform textarea {
  border-color: #AAAAAA;
  min-height: 40px;
  margin-bottom: 20px;
  width: 100%;
}
#commentform input[type="text"]:focus,
#commentform input[type="email"]:focus,
#commentform input[type="url"]:focus,
#commentform textarea:focus {
  border-color: #cccccc;
}
.commentlist {
  margin: 0;
  padding: 0;
  list-style: none;
}
.commentlist ul {
  list-style: none;
}
.commentlist ul li {
  padding-left: 20px;
}
.commentlist li {
  padding: 0;
  margin: 20px 0 0;
  border-bottom: 1px solid #eeeeee;
}
.commentlist li cite {
  display: block;
  font-weight: bold;
}
.commentlist .media {
  margin-top: 20px;
}
.commentlist .media:first-child {
  margin-top: 20px;
}
.commentlist .media .media-body {
  padding: 0;
}
.commentlist .media .pull-left {
  margin-right: 10px;
}
.commentlist .children {
  margin-top: 0;
  padding: 0;
}
.commentlist .comment-reply-link:before {
  content: "|";
  color: #999999;
  margin-right: 5px;
}
.commentlist .comment-author {
  margin-bottom: 5px;
}
.commentlist .comment-author time,
.commentlist .comment-author a.comment-edit-link,
.commentlist .comment-author a.comment-reply-link {
  color: #999999;
}
/* = WooCommerce
----------------------------------------------- */
.nav-main .pojo-menu-cart a.pojo-menu-cart-contents .icon-cart:before {
  content: '\f07a';
  font-family: fontawesome;
  margin-right: 5px;
  height: auto;
  font-style: normal;
  font-weight: normal;
}
.nav-main .pojo-menu-cart a.pojo-menu-cart-contents > .items-cart,
.nav-main .pojo-menu-cart a.pojo-menu-cart-contents > .amount {
  display: none;
}
.nav-main .pojo-menu-cart li.cart-content a {
  line-height: 16px !important;
  padding: 15px;
  font-size: 12px !important;
  border-bottom: 1px solid #AAAAAA;
}
.nav-main .pojo-menu-cart li.cart-content a img {
  width: 32px;
  height: 32px;
  float: right;
  margin-left: 10px;
}
.nav-main .pojo-menu-cart li.cart-content a .cart-title {
  display: block;
}
.nav-main .pojo-menu-cart li.cart-content a .product-quantity {
  display: block;
}
.nav-main .pojo-menu-cart li.cart-checkout {
  padding: 15px;
}
.nav-main .pojo-menu-cart li.cart-checkout a {
  padding: 8px 12px;
  border: 2px solid;
  font-weight: bold !important;
  line-height: 1em !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.nav-main .pojo-menu-cart li.cart-checkout .cart-link {
  float: left;
}
.nav-main .pojo-menu-cart li.cart-checkout .checkout-link {
  float: right;
}
.woocommerce,
.woocommerce-page {
  /* Product page */
  /* Other Pages*/
}
.woocommerce #breadcrumbs,
.woocommerce-page #breadcrumbs,
.woocommerce h1.page-title,
.woocommerce-page h1.page-title {
  margin: 0;
}
.woocommerce #breadcrumbs,
.woocommerce-page #breadcrumbs {
  margin-bottom: 15px;
}
.woocommerce div.product,
.woocommerce-page div.product,
.woocommerce #content div.product,
.woocommerce-page #content div.product {
  background-color: #FFFFFF;
  overflow: hidden;
}
.woocommerce div.product #breadcrumbs,
.woocommerce-page div.product #breadcrumbs,
.woocommerce #content div.product #breadcrumbs,
.woocommerce-page #content div.product #breadcrumbs {
  text-align: inherit;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
  background: none;
  border-width: 0;
  box-shadow: none;
  margin: 0;
  padding: 0 1em;
  z-index: 2;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li a,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a {
  display: inline-block;
  padding: .5em 0;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  outline: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a:hover {
  text-decoration: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active {
  background: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a {
  text-shadow: inherit;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:after {
  box-shadow: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after {
  border-width: 0 0 3px;
  border-style: solid;
  border-color: transparent;
  position: absolute;
  bottom: 0;
  width: 100%;
  content: " ";
  left: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  box-shadow: none;
  z-index: 2;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before {
  position: absolute;
  content: " ";
  width: 100%;
  bottom: 0;
  left: 0;
  border-width: 0 0 1px;
  border-style: solid;
  z-index: 1;
}
.woocommerce div.product .woocommerce-tabs .panel,
.woocommerce-page div.product .woocommerce-tabs .panel,
.woocommerce #content div.product .woocommerce-tabs .panel,
.woocommerce-page #content div.product .woocommerce-tabs .panel {
  margin: 0 0 2em;
  padding: 0;
}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  margin-bottom: 15px;
}
.woocommerce ul.products li.product .inbox,
.woocommerce-page ul.products li.product .inbox {
  background-color: #FFFFFF;
  border-color: #D4D4D4;
  border-width: 1px;
  border-style: solid ;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.woocommerce ul.products li.product .inbox .image-link img,
.woocommerce-page ul.products li.product .inbox .image-link img {
  margin: 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.woocommerce ul.products li.product .inbox .image-link .overlay-image + .overlay-title,
.woocommerce-page ul.products li.product .inbox .image-link .overlay-image + .overlay-title {
  height: 20px;
}
.woocommerce ul.products li.product .inbox .image-link .onsale,
.woocommerce-page ul.products li.product .inbox .image-link .onsale {
  margin: 0;
  right: 6px;
  top: 6px;
  z-index: 1;
}
.woocommerce ul.products li.product .inbox:hover .overlay-image,
.woocommerce-page ul.products li.product .inbox:hover .overlay-image {
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  opacity: 1;
}
.woocommerce ul.products li.product .inbox:hover .overlay-image + .overlay-title,
.woocommerce-page ul.products li.product .inbox:hover .overlay-image + .overlay-title {
  opacity: 1;
}
.woocommerce ul.products li.product .inbox .caption,
.woocommerce-page ul.products li.product .inbox .caption {
  background-color: #F5F5F5;
  display: block;
  padding: 20px 0;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.woocommerce ul.products li.product .inbox .caption .product-title,
.woocommerce-page ul.products li.product .inbox .caption .product-title {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.woocommerce ul.products li.product .inbox .caption .price,
.woocommerce-page ul.products li.product .inbox .caption .price {
  color: #b5b5b5;
  font-weight: bold;
}
.woocommerce ul.products li.product .inbox .caption .price del,
.woocommerce-page ul.products li.product .inbox .caption .price del {
  font-size: 1em;
}
.woocommerce ul.products li.product .inbox .star-rating,
.woocommerce-page ul.products li.product .inbox .star-rating {
  display: inline-block;
}
.woocommerce ul.products li.product .inbox .price,
.woocommerce-page ul.products li.product .inbox .price {
  display: block;
  margin-bottom: 0;
}
.woocommerce #content div.product div.images img,
.woocommerce-page #content div.product div.images img {
  box-shadow: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.woocommerce #content div.product .summary p,
.woocommerce-page #content div.product .summary p {
  margin-bottom: 20px;
}
.woocommerce span.onsale,
.woocommerce-page span.onsale {
  margin: 0;
  left: 46px;
  top: 46px;
  z-index: 1;
}
.woocommerce #content div.quantity,
.woocommerce-page #content div.quantity,
.woocommerce div.quantity,
.woocommerce-page div.quantity {
  border: 1px solid #DBDBDB;
  overflow: hidden;
  width: auto;
  margin: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.woocommerce #content div.quantity .minus,
.woocommerce-page #content div.quantity .minus,
.woocommerce div.quantity .minus,
.woocommerce-page div.quantity .minus,
.woocommerce #content div.quantity .plus,
.woocommerce-page #content div.quantity .plus,
.woocommerce div.quantity .plus,
.woocommerce-page div.quantity .plus,
.woocommerce #content div.quantity .qty,
.woocommerce-page #content div.quantity .qty,
.woocommerce div.quantity .qty,
.woocommerce-page div.quantity .qty {
  position: relative;
  border: 0 none;
  color: #333333;
  float: left;
  font-size: 15px;
  height: 32px;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  box-shadow: none;
  border-radius: 0;
}
.woocommerce #content div.quantity .minus,
.woocommerce-page #content div.quantity .minus,
.woocommerce div.quantity .minus,
.woocommerce-page div.quantity .minus,
.woocommerce #content div.quantity .plus,
.woocommerce-page #content div.quantity .plus,
.woocommerce div.quantity .plus,
.woocommerce-page div.quantity .plus {
  width: 26px;
  background: #FBFAF9;
}
.woocommerce #content div.quantity .minus:hover,
.woocommerce-page #content div.quantity .minus:hover,
.woocommerce div.quantity .minus:hover,
.woocommerce-page div.quantity .minus:hover,
.woocommerce #content div.quantity .plus:hover,
.woocommerce-page #content div.quantity .plus:hover,
.woocommerce div.quantity .plus:hover,
.woocommerce-page div.quantity .plus:hover {
  background: transparent;
}
.woocommerce a.button,
.woocommerce-page a.button,
.woocommerce button.button,
.woocommerce-page button.button,
.woocommerce input.button,
.woocommerce-page input.button,
.woocommerce #respond input#submit,
.woocommerce-page #respond input#submit,
.woocommerce #content input.button,
.woocommerce-page #content input.button {
  background: transparent;
  border: 2px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 8px 12px;
  box-shadow: none;
  text-decoration: none;
  text-shadow: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.woocommerce a.button:hover,
.woocommerce-page a.button:hover,
.woocommerce button.button:hover,
.woocommerce-page button.button:hover,
.woocommerce input.button:hover,
.woocommerce-page input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce #content input.button:hover,
.woocommerce-page #content input.button:hover {
  box-shadow: none;
  text-decoration: none;
  text-shadow: none;
}
.woocommerce a.button.alt,
.woocommerce-page a.button.alt,
.woocommerce button.button.alt,
.woocommerce-page button.button.alt,
.woocommerce input.button.alt,
.woocommerce-page input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce #content input.button.alt,
.woocommerce-page #content input.button.alt {
  border: 2px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: none;
  text-decoration: none;
  text-shadow: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.woocommerce a.button.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce-page input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce #content input.button.alt:hover,
.woocommerce-page #content input.button.alt:hover {
  background: transparent;
  padding: 8px 12px;
  box-shadow: none;
  text-decoration: none;
  text-shadow: none;
}
.woocommerce .woocommerce-error,
.woocommerce-page .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce-page .woocommerce-info,
.woocommerce .woocommerce-message,
.woocommerce-page .woocommerce-message {
  box-shadow: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.woocommerce table.cart td.actions .coupon .input-text,
.woocommerce-page table.cart td.actions .coupon .input-text,
.woocommerce #content table.cart td.actions .coupon .input-text,
.woocommerce-page #content table.cart td.actions .coupon .input-text,
.woocommerce table.cart td.actions .coupon .input-text,
.woocommerce-page table.cart td.actions .coupon .input-text,
.woocommerce #content table.cart td.actions .coupon .input-text,
.woocommerce-page #content table.cart td.actions .coupon .input-text {
  padding: 8px 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.woocommerce nav.woocommerce-pagination ul.page-numbers,
.woocommerce-page nav.woocommerce-pagination ul.page-numbers,
.woocommerce #content nav.woocommerce-pagination ul.page-numbers,
.woocommerce-page #content nav.woocommerce-pagination ul.page-numbers {
  border-width: 0px;
}
.woocommerce nav.woocommerce-pagination ul.page-numbers li,
.woocommerce-page nav.woocommerce-pagination ul.page-numbers li,
.woocommerce #content nav.woocommerce-pagination ul.page-numbers li,
.woocommerce-page #content nav.woocommerce-pagination ul.page-numbers li {
  border-width: 0px;
}
.woocommerce nav.woocommerce-pagination ul.page-numbers li span,
.woocommerce-page nav.woocommerce-pagination ul.page-numbers li span,
.woocommerce #content nav.woocommerce-pagination ul.page-numbers li span,
.woocommerce-page #content nav.woocommerce-pagination ul.page-numbers li span,
.woocommerce nav.woocommerce-pagination ul.page-numbers li a,
.woocommerce-page nav.woocommerce-pagination ul.page-numbers li a,
.woocommerce #content nav.woocommerce-pagination ul.page-numbers li a,
.woocommerce-page #content nav.woocommerce-pagination ul.page-numbers li a {
  font-weight: bold;
  padding: 1em;
}
/*-------------------------------------- Responsive Display --------------------------------------------*/
/* landscape tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .sf-menu a {
    font-size: 0.85em !important;
    padding: 0 0.5em;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  #top-bar {
    display: none;
  }
  #header.logo-right .logo,
  .sticky-header.logo-right .logo {
    float: none;
    max-width: 100%;
  }
  #header.logo-right .logo:before,
  .sticky-header.logo-right .logo:before,
  #header.logo-right .logo:after,
  .sticky-header.logo-right .logo:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  #header.logo-right .logo:after,
  .sticky-header.logo-right .logo:after {
    clear: both;
  }
  #header.logo-right .logo .logo-img,
  .sticky-header.logo-right .logo .logo-img,
  #header.logo-right .logo .logo-text,
  .sticky-header.logo-right .logo .logo-text {
    float: right;
  }
  #header.logo-right .logo .navbar-toggle,
  .sticky-header.logo-right .logo .navbar-toggle {
    float: left;
  }
  #header.logo-right .nav-main,
  .sticky-header.logo-right .nav-main {
    float: none;
    max-width: 100%;
  }
  #header.logo-right .nav-main:before,
  .sticky-header.logo-right .nav-main:before,
  #header.logo-right .nav-main:after,
  .sticky-header.logo-right .nav-main:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  #header.logo-right .nav-main:after,
  .sticky-header.logo-right .nav-main:after {
    clear: both;
  }
  #header.logo-left .logo,
  .sticky-header.logo-left .logo {
    float: none;
    max-width: 100%;
  }
  #header.logo-left .logo:before,
  .sticky-header.logo-left .logo:before,
  #header.logo-left .logo:after,
  .sticky-header.logo-left .logo:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  #header.logo-left .logo:after,
  .sticky-header.logo-left .logo:after {
    clear: both;
  }
  #header.logo-left .logo .logo-img,
  .sticky-header.logo-left .logo .logo-img,
  #header.logo-left .logo .logo-text,
  .sticky-header.logo-left .logo .logo-text {
    float: left;
  }
  #header.logo-left .logo .navbar-toggle,
  .sticky-header.logo-left .logo .navbar-toggle {
    float: right;
  }
  #header.logo-left .nav-main,
  .sticky-header.logo-left .nav-main {
    float: none;
    max-width: 100%;
  }
  #header.logo-left .nav-main:before,
  .sticky-header.logo-left .nav-main:before,
  #header.logo-left .nav-main:after,
  .sticky-header.logo-left .nav-main:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  #header.logo-left .nav-main:after,
  .sticky-header.logo-left .nav-main:after {
    clear: both;
  }
  #header {
    height: auto !important;
  }
  #header .logo {
    padding: 15px 0;
    margin: 0;
  }
  .sticky-header {
    height: auto !important;
    opacity: 1;
  }
  body.admin-bar .sticky-header {
    top: 46px !important;
  }
  #page-header .title-primary {
    max-width: 100%;
  }
  #primary #content #main {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #primary #content #main.sidebar-left,
  #primary #content #main.sidebar-right {
    float: none;
  }
  #primary #content #main header.container .page-title,
  #primary #content #main header.container #breadcrumbs {
    float: none;
    margin: 0;
    max-width: 100%;
    line-height: 2.5em !important;
    text-align: center;
  }
  #primary #content #main header.container .page-title h1,
  #primary #content #main header.container #breadcrumbs h1 {
    line-height: inherit;
    margin: 15px 0;
  }
  .small-thumbnail.media .pull-left,
  .small-thumbnail.media .pull-right {
    float: none !important;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
  .overlay-plus {
    display: none;
  }
  .grid-item.col-xs-12 {
    width: 50%;
  }
  .single-gallery-content-left .gallery-thumbnail,
  .single-gallery-content-left .gallery-content {
    float: none;
  }
  #sidebar .media.small-thumbnail .pull-left,
  #sidebar-footer .media.small-thumbnail .pull-left {
    float: left;
  }
  #comments .media .pull-left {
    display: none;
  }
  #comments #commentform input[type="text"],
  #comments #commentform input[type="email"],
  #comments #commentform input[type="url"] {
    width: 100%;
  }
  #copyright {
    text-align: center;
  }
}
/* Landscape phones and down */
@media (max-width: 600px) {
  body.admin-bar .sticky-header {
    top: 0px !important;
  }
}
@media (max-width: 480px) {
  #sidebar .media.small-thumbnail .pull-left,
  #sidebar-footer .media.small-thumbnail .pull-left {
    float: left;
  }
  .grid-item.col-xs-12 {
    width: 100%;
  }
}
