/*! river - v2.3.2 - 29-07-2015 */
body.rtl .column-1,
body.rtl .column-2,
body.rtl .column-2-5,
body.rtl .column-3,
body.rtl .column-4,
body.rtl .column-5,
body.rtl .column-6,
body.rtl .column-7,
body.rtl .column-8,
body.rtl .column-9,
body.rtl .column-10,
body.rtl .column-11,
body.rtl .column-12 {
  float: right;
}
body.rtl nav.post-navigation .nav-prev {
  text-align: right;
}
body.rtl nav.post-navigation .nav-next {
  text-align: left;
}
body.rtl .recent-carousel {
  direction: rtl;
}
body.rtl .bx-controls-direction a {
  text-indent: 0;
  font-size: 0;
}
body.rtl .pojo-button-wrap.pojo-button-right {
  float: left;
}
body.rtl .pojo-button-wrap.pojo-button-left {
  float: right;
}
body.rtl .button .pojo-button-icon {
  padding-left: 5px;
  padding-right: 0;
}
body.rtl .pojo-form input[type="email"]:focus,
body.rtl .pojo-form input[type="url"]:focus,
body.rtl .pojo-form input[type="tel"]:focus {
  direction: ltr;
}
body.rtl .pojo-form .field-group.field-list-inline .field-list-item label {
  margin-left: 0.5em;
  margin-right: 0.1em;
}
body.rtl .pojo-form.form-align-left .label-field,
body.rtl .pojo-form.form-align-right .label-field {
  text-align: right;
}
body.rtl .pojo-form.form-align-left .field,
body.rtl .pojo-form.form-align-right .field,
body.rtl .pojo-form.form-align-left .field-list-items,
body.rtl .pojo-form.form-align-right .field-list-items {
  float: left;
}
body.rtl .pojo-form.form-align-left .field-list-items .field,
body.rtl .pojo-form.form-align-right .field-list-items .field {
  float: none;
}
body.rtl .pojo-form.form-align-left .pojo-button-wrap,
body.rtl .pojo-form.form-align-right .pojo-button-wrap {
  margin-right: 20%;
  margin-left: 0;
}
body.rtl .pojo-form.form-align-left .form-message,
body.rtl .pojo-form.form-align-right .form-message {
  margin-right: 20%;
  margin-left: 0;
}
body.rtl .pojo-form.form-align-left .help-inline,
body.rtl .pojo-form.form-align-right .help-inline {
  margin-right: 20%;
  margin-left: 0;
}
body.rtl .pojo-form.form-align-right .label-field {
  text-align: left;
}
body.rtl .pojo-form .form-message:before {
  margin-left: 5px;
  margin-right: 0;
}
body.rtl .pojo-form .edit-form {
  right: auto;
  left: 0;
}
body.rtl .pojo-tabs > li {
  float: right;
}
body.rtl .pojo-tabs > li > a {
  margin-left: -1px;
  margin-right: 0;
}
body.rtl .pojo-accordion .panel .panel-heading .panel-title:after {
  float: left;
}
body.rtl .pojo-toggle.panel .panel-heading .panel-title:after {
  float: left;
}
body.rtl .pojo-testimonials {
  direction: ltr;
}
body.rtl .pojo-testimonials ul {
  direction: rtl;
}
body.rtl ul.pojo-catalog-list li .pojo-catalog-item .catalog-item-thumbnail {
  margin-left: 15px;
  margin-right: 0;
}
body.rtl ul.pojo-catalog-list li .pojo-catalog-item .catalog-item-price {
  text-align: left;
}
body.rtl .pp_nav .pp_play,
body.rtl .pp_nav .pp_pause,
body.rtl a.pp_arrow_previous,
body.rtl a.pp_arrow_next,
body.rtl a.pp_next,
body.rtl a.pp_previous,
body.rtl a.pp_expand,
body.rtl a.pp_contract,
body.rtl a.pp_close {
  font-size: 0;
}
body.rtl blockquote {
  border-right: 5px solid #EEE;
  border-left: none;
}
body.rtl th {
  text-align: right;
}
body.rtl dd {
  margin: 0;
}
body.rtl.woocommerce .col2-set .col-1,
body.rtl.woocommerce-page .col2-set .col-1,
body.rtl.woocommerce .col2-set .col-2,
body.rtl.woocommerce-page .col2-set .col-2 {
  float: right;
}
body.rtl.woocommerce .col2-set .col-1,
body.rtl.woocommerce-page .col2-set .col-1 {
  padding-right: 0;
  padding-left: 15px;
}
body.rtl.woocommerce .col2-set .col-2,
body.rtl.woocommerce-page .col2-set .col-2 {
  padding-right: 15px;
  padding-left: 0;
}
body.rtl.woocommerce div.product div.images,
body.rtl.woocommerce-page div.product div.images,
body.rtl.woocommerce #content div.product div.images,
body.rtl.woocommerce-page #content div.product div.images {
  float: right;
  padding-left: 15px;
  padding-right: 0;
}
body.rtl.woocommerce div.product div.thumbnails a,
body.rtl.woocommerce-page div.product div.thumbnails a,
body.rtl.woocommerce #content div.product div.thumbnails a,
body.rtl.woocommerce-page #content div.product div.thumbnails a {
  float: right;
  margin-left: 3.8%;
  margin-right: 0;
}
body.rtl.woocommerce div.product div.thumbnails a.last,
body.rtl.woocommerce-page div.product div.thumbnails a.last,
body.rtl.woocommerce #content div.product div.thumbnails a.last,
body.rtl.woocommerce-page #content div.product div.thumbnails a.last {
  margin-left: 0;
}
body.rtl.woocommerce div.product div.summary,
body.rtl.woocommerce-page div.product div.summary,
body.rtl.woocommerce #content div.product div.summary,
body.rtl.woocommerce-page #content div.product div.summary {
  float: right;
  padding-right: 15px;
  padding-left: 0;
}
body.rtl.woocommerce div.product span.onsale,
body.rtl.woocommerce-page div.product span.onsale,
body.rtl.woocommerce #content div.product span.onsale,
body.rtl.woocommerce-page #content div.product span.onsale,
body.rtl.woocommerce div.product span.onsale,
body.rtl.woocommerce-page div.product span.onsale,
body.rtl.woocommerce #content div.product span.onsale,
body.rtl.woocommerce-page #content div.product span.onsale {
  left: auto;
  right: 6px;
}
body.rtl.woocommerce div.product form.cart div.quantity,
body.rtl.woocommerce-page div.product form.cart div.quantity,
body.rtl.woocommerce #content div.product form.cart div.quantity,
body.rtl.woocommerce-page #content div.product form.cart div.quantity {
  margin: 0 0 0 4px;
}
body.rtl.woocommerce div.product form.cart table td,
body.rtl.woocommerce-page div.product form.cart table td,
body.rtl.woocommerce #content div.product form.cart table td,
body.rtl.woocommerce-page #content div.product form.cart table td {
  padding-right: 0;
}
body.rtl.woocommerce div.product form.cart .variations select,
body.rtl.woocommerce-page div.product form.cart .variations select,
body.rtl.woocommerce #content div.product form.cart .variations select,
body.rtl.woocommerce-page #content div.product form.cart .variations select {
  float: right;
}
body.rtl.woocommerce div.product form.cart .variations td.label,
body.rtl.woocommerce-page div.product form.cart .variations td.label,
body.rtl.woocommerce #content div.product form.cart .variations td.label,
body.rtl.woocommerce-page #content div.product form.cart .variations td.label {
  padding-left: 1em;
  padding-right: 0;
}
body.rtl.woocommerce div.product form.cart .button,
body.rtl.woocommerce-page div.product form.cart .button,
body.rtl.woocommerce #content div.product form.cart .button,
body.rtl.woocommerce-page #content div.product form.cart .button {
  float: none;
}
body.rtl.woocommerce ul.products li.product,
body.rtl.woocommerce-page ul.products li.product {
  float: right;
}
body.rtl.woocommerce ul.products .star-rating,
body.rtl.woocommerce-page ul.products .star-rating {
  float: none;
  display: block;
}
body.rtl.woocommerce .related.products,
body.rtl.woocommerce-page .related.products,
body.rtl.woocommerce .upsells.products,
body.rtl.woocommerce-page .upsells.products {
  float: right;
}
body.rtl.woocommerce .woocommerce-result-count,
body.rtl.woocommerce-page .woocommerce-result-count {
  float: right;
}
body.rtl.woocommerce .woocommerce-ordering,
body.rtl.woocommerce-page .woocommerce-ordering {
  float: left;
}
body.rtl.woocommerce .cart-collaterals .shipping_calculator .shipping-calculator-button:after,
body.rtl.woocommerce-page .cart-collaterals .shipping_calculator .shipping-calculator-button:after {
  margin-right: 7px;
  margin-left: 0;
}
body.rtl.woocommerce .cart-collaterals .related,
body.rtl.woocommerce-page .cart-collaterals .related {
  width: 30.75%;
  float: right;
}
body.rtl.woocommerce .cart-collaterals .cart_totals,
body.rtl.woocommerce-page .cart-collaterals .cart_totals {
  text-align: inherit;
}
body.rtl.woocommerce .cart-collaterals .cart_totals table,
body.rtl.woocommerce-page .cart-collaterals .cart_totals table {
  text-align: left;
}
body.rtl.woocommerce table.cart td.actions,
body.rtl.woocommerce-page table.cart td.actions,
body.rtl.woocommerce #content table.cart td.actions,
body.rtl.woocommerce-page #content table.cart td.actions {
  text-align: left;
}
body.rtl.woocommerce table.cart td.actions .coupon,
body.rtl.woocommerce-page table.cart td.actions .coupon,
body.rtl.woocommerce #content table.cart td.actions .coupon,
body.rtl.woocommerce-page #content table.cart td.actions .coupon {
  float: right;
}
body.rtl.woocommerce table.cart td.actions .coupon .input-text,
body.rtl.woocommerce-page table.cart td.actions .coupon .input-text,
body.rtl.woocommerce #content table.cart td.actions .coupon .input-text,
body.rtl.woocommerce-page #content table.cart td.actions .coupon .input-text {
  float: right;
  margin: 0 0 0 4px;
}
body.rtl.woocommerce ul#shipping_method,
body.rtl.woocommerce-page ul#shipping_method {
  text-align: right;
}
body.rtl.woocommerce .checkout .col-2 h3#ship-to-different-address,
body.rtl.woocommerce-page .checkout .col-2 h3#ship-to-different-address {
  float: right;
}
body.rtl.woocommerce .checkout .col-2 .notes,
body.rtl.woocommerce-page .checkout .col-2 .notes {
  clear: right;
}
body.rtl.woocommerce .checkout .col-2 .form-row-first,
body.rtl.woocommerce-page .checkout .col-2 .form-row-first {
  clear: right;
}
body.rtl.woocommerce .checkout div.shipping-address,
body.rtl.woocommerce-page .checkout div.shipping-address {
  clear: right;
}
body.rtl.woocommerce #payment ul.payment_methods,
body.rtl.woocommerce-page #payment ul.payment_methods {
  text-align: right;
}
body.rtl.woocommerce #payment ul.payment_methods li,
body.rtl.woocommerce-page #payment ul.payment_methods li {
  text-align: right;
}
body.rtl.woocommerce #payment ul.payment_methods li input,
body.rtl.woocommerce-page #payment ul.payment_methods li input {
  margin: 0 0 0 1em;
}
body.rtl.woocommerce #payment ul.payment_methods li img,
body.rtl.woocommerce-page #payment ul.payment_methods li img {
  margin: -2px 0.5em 0 0;
}
body.rtl.woocommerce #payment div.payment_box:after,
body.rtl.woocommerce-page #payment div.payment_box:after {
  right: 0;
  left: auto;
  margin: -1em 2em 0 0;
}
body.rtl.woocommerce .order_details,
body.rtl.woocommerce-page .order_details {
  padding: 0;
}
body.rtl.woocommerce .order_details li,
body.rtl.woocommerce-page .order_details li {
  float: right;
  margin-left: 2em;
  margin-right: 0;
  padding-left: 2em;
  padding-right: 0;
  border-left: 1px dashed #E0DADF;
  border-right: 0;
}
body.rtl.woocommerce .order_details li:last-child,
body.rtl.woocommerce-page .order_details li:last-child {
  border-left: 0;
}
body.rtl.woocommerce form .form-row-first,
body.rtl.woocommerce-page form .form-row-first,
body.rtl.woocommerce form .form-row-last,
body.rtl.woocommerce-page form .form-row-last {
  float: right;
}
body.rtl.woocommerce form .form-row-last,
body.rtl.woocommerce-page form .form-row-last {
  float: left;
}
body.rtl.woocommerce #payment .terms,
body.rtl.woocommerce-page #payment .terms {
  text-align: left;
}
body.rtl.woocommerce #payment #place_order,
body.rtl.woocommerce-page #payment #place_order {
  float: left;
}
body.rtl.woocommerce form.login,
body.rtl.woocommerce-page form.login,
body.rtl.woocommerce form.checkout_coupon,
body.rtl.woocommerce-page form.checkout_coupon,
body.rtl.woocommerce form.register,
body.rtl.woocommerce-page form.register {
  text-align: right;
}
body.rtl.woocommerce .addresses .title h3,
body.rtl.woocommerce-page .addresses .title h3 {
  float: right;
}
body.rtl.woocommerce .addresses .title .edit,
body.rtl.woocommerce-page .addresses .title .edit {
  float: left;
}
body.rtl.woocommerce ul.digital-downloads li .count,
body.rtl.woocommerce-page ul.digital-downloads li .count {
  float: left;
}
body.rtl.woocommerce #reviews h2 small,
body.rtl.woocommerce-page #reviews h2 small {
  float: left;
}
body.rtl.woocommerce #reviews #comments ol.commentlist li img.avatar,
body.rtl.woocommerce-page #reviews #comments ol.commentlist li img.avatar {
  float: right;
  left: auto;
  right: 0;
}
body.rtl.woocommerce #reviews #comments ol.commentlist li .comment-text,
body.rtl.woocommerce-page #reviews #comments ol.commentlist li .comment-text {
  margin: 0 50px 0 0;
}
body.rtl.woocommerce #reviews #comments ol.commentlist ul.children,
body.rtl.woocommerce-page #reviews #comments ol.commentlist ul.children {
  margin: 20px 50px 0;
}
body.rtl.woocommerce #reviews #comments ol.commentlist #respond,
body.rtl.woocommerce-page #reviews #comments ol.commentlist #respond {
  margin: 20px 50px 0 0;
}
body.rtl.woocommerce .star-rating,
body.rtl.woocommerce-page .star-rating {
  float: left;
}
body.rtl.woocommerce .star-rating:before,
body.rtl.woocommerce-page .star-rating:before {
  float: right;
  left: 0;
}
body.rtl.woocommerce .star-rating span,
body.rtl.woocommerce-page .star-rating span {
  float: left;
  left: auto;
  right: 0;
}
body.rtl.woocommerce .star-rating span:before,
body.rtl.woocommerce-page .star-rating span:before {
  left: auto;
  right: 0;
}
body.rtl.woocommerce .woocommerce-product-rating .star-rating,
body.rtl.woocommerce-page .woocommerce-product-rating .star-rating {
  margin: .5em 0 0 4px;
  float: right;
}
body.rtl.woocommerce p.stars a.star-1,
body.rtl.woocommerce-page p.stars a.star-1,
body.rtl.woocommerce p.stars a.star-2,
body.rtl.woocommerce-page p.stars a.star-2,
body.rtl.woocommerce p.stars a.star-3,
body.rtl.woocommerce-page p.stars a.star-3,
body.rtl.woocommerce p.stars a.star-4,
body.rtl.woocommerce-page p.stars a.star-4,
body.rtl.woocommerce p.stars a.star-5,
body.rtl.woocommerce-page p.stars a.star-5 {
  border-right: 1px solid #ccc;
}
body.rtl.woocommerce p.stars a:first-child,
body.rtl.woocommerce-page p.stars a:first-child {
  border-right: 0;
  margin-right: 0;
}
body.rtl.woocommerce p.stars a:last-child,
body.rtl.woocommerce-page p.stars a:last-child {
  border-right: 1px solid #ccc;
}
body.rtl.woocommerce .woocommerce-message,
body.rtl.woocommerce-page .woocommerce-message,
body.rtl.woocommerce .woocommerce-error,
body.rtl.woocommerce-page .woocommerce-error,
body.rtl.woocommerce .woocommerce-info,
body.rtl.woocommerce-page .woocommerce-info {
  padding: 1em 3.5em 1em 1em !important;
}
body.rtl.woocommerce .woocommerce-message:before,
body.rtl.woocommerce-page .woocommerce-message:before,
body.rtl.woocommerce .woocommerce-error:before,
body.rtl.woocommerce-page .woocommerce-error:before,
body.rtl.woocommerce .woocommerce-info:before,
body.rtl.woocommerce-page .woocommerce-info:before {
  right: 1em;
  left: auto;
}
body.rtl.woocommerce .woocommerce-message .button,
body.rtl.woocommerce-page .woocommerce-message .button,
body.rtl.woocommerce .woocommerce-error .button,
body.rtl.woocommerce-page .woocommerce-error .button,
body.rtl.woocommerce .woocommerce-info .button,
body.rtl.woocommerce-page .woocommerce-info .button {
  float: left;
}
body.rtl.woocommerce .woocommerce-message li,
body.rtl.woocommerce-page .woocommerce-message li,
body.rtl.woocommerce .woocommerce-error li,
body.rtl.woocommerce-page .woocommerce-error li,
body.rtl.woocommerce .woocommerce-info li,
body.rtl.woocommerce-page .woocommerce-info li {
  list-style: none outside !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
}
body.rtl.woocommerce table.shop_table,
body.rtl.woocommerce-page table.shop_table {
  margin: 0px 0px 24px -1px;
  text-align: right;
}
body.rtl.woocommerce table.my_account_orders .order-actions,
body.rtl.woocommerce-page table.my_account_orders .order-actions {
  text-align: left;
}
body.rtl.woocommerce table.my_account_orders .order-actions .button,
body.rtl.woocommerce-page table.my_account_orders .order-actions .button {
  margin: .125em .25em .125em 0;
}
body.rtl.woocommerce td.product-name dl.variation dt,
body.rtl.woocommerce-page td.product-name dl.variation dt,
body.rtl.woocommerce td.product-name dl.variation dd,
body.rtl.woocommerce-page td.product-name dl.variation dd {
  float: right;
}
body.rtl.woocommerce td.product-name dl.variation dt,
body.rtl.woocommerce-page td.product-name dl.variation dt {
  margin: 0 0 0 4px;
  clear: right;
}
body.rtl.woocommerce .chosen-container .chosen-drop,
body.rtl.woocommerce-page .chosen-container .chosen-drop {
  right: -9999px;
  left: auto;
}
body.rtl.woocommerce .chosen-container.chosen-with-drop .chosen-drop,
body.rtl.woocommerce-page .chosen-container.chosen-with-drop .chosen-drop {
  right: 0;
}
body.rtl .woocommerce ul.products li.product {
  float: right;
}
body.rtl .widget .product_list_widget li {
  list-style: none !important;
}
body.rtl .widget .product_list_widget li img {
  float: left;
  margin-left: 0;
  margin-right: 4px;
}
body.rtl .widget_layered_nav ul li a,
body.rtl .widget_layered_nav ul li span {
  float: right;
}
body.rtl .widget_layered_nav ul li small {
  float: left;
}
body.rtl .widget_layered_nav_filters ul li {
  float: right;
}
body.rtl .widget_layered_nav_filters ul li a {
  float: right;
}
body.rtl .widget_layered_nav_filters ul li a:before {
  margin-right: 0;
  margin-left: 7px;
}
body.rtl .widget_shopping_cart_content .buttons .button.checkout {
  float: left;
}

.customer .column-6 {
                         border: 1px solid black;
                       padding: 30px;
                      width: 34%;
                     }