/*! river - v2.3.2 - 29-07-2015 */
/* = Built-in Fonts */
@font-face {
  font-family: 'Open Sans Hebrew';
  src: url('../fonts/opensanshebrew/opensanshebrew-lightitalic.eot');
  src: url('../fonts/opensanshebrew/opensanshebrew-lightitalic.eot?#iefix') format('embedded-opentype'), url('../fonts/opensanshebrew/opensanshebrew-lightitalic.woff') format('woff'), url('../fonts/opensanshebrew/opensanshebrew-lightitalic.ttf') format('truetype'), url('../fonts/opensanshebrew/opensanshebrew-lightitalic.svg#open_sans_hebrewlightitalic') format('svg');
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: 'Open Sans Hebrew';
  src: url('../fonts/opensanshebrew/opensanshebrew-light.eot');
  src: url('../fonts/opensanshebrew/opensanshebrew-light.eot?#iefix') format('embedded-opentype'), url('../fonts/opensanshebrew/opensanshebrew-light.woff') format('woff'), url('../fonts/opensanshebrew/opensanshebrew-light.ttf') format('truetype'), url('../fonts/opensanshebrew/opensanshebrew-light.svg#open_sans_hebrewlight') format('svg');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Open Sans Hebrew';
  src: url('../fonts/opensanshebrew/opensanshebrew-italic.eot');
  src: url('../fonts/opensanshebrew/opensanshebrew-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/opensanshebrew/opensanshebrew-italic.woff') format('woff'), url('../fonts/opensanshebrew/opensanshebrew-italic.ttf') format('truetype'), url('../fonts/opensanshebrew/opensanshebrew-italic.svg#open_sans_hebrewitalic') format('svg');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Open Sans Hebrew';
  src: url('../fonts/opensanshebrew/opensanshebrew-regular.eot');
  src: url('../fonts/opensanshebrew/opensanshebrew-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/opensanshebrew/opensanshebrew-regular.woff') format('woff'), url('../fonts/opensanshebrew/opensanshebrew-regular.ttf') format('truetype'), url('../fonts/opensanshebrew/opensanshebrew-regular.svg#open_sans_hebrewregular') format('svg');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Open Sans Hebrew';
  src: url('../fonts/opensanshebrew/opensanshebrew-bolditalic.eot');
  src: url('../fonts/opensanshebrew/opensanshebrew-bolditalic.eot?#iefix') format('embedded-opentype'), url('../fonts/opensanshebrew/opensanshebrew-bolditalic.woff') format('woff'), url('../fonts/opensanshebrew/opensanshebrew-bolditalic.ttf') format('truetype'), url('../fonts/opensanshebrew/opensanshebrew-bolditalic.svg#open_sans_hebrewbolditalic') format('svg');
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: 'Open Sans Hebrew';
  src: url('../fonts/opensanshebrew/opensanshebrew-bold.eot');
  src: url('../fonts/opensanshebrew/opensanshebrew-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/opensanshebrew/opensanshebrew-bold.woff') format('woff'), url('../fonts/opensanshebrew/opensanshebrew-bold.ttf') format('truetype'), url('../fonts/opensanshebrew/opensanshebrew-bold.svg#open_sans_hebrewbold') format('svg');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Open Sans Hebrew';
  src: url('../fonts/opensanshebrew/opensanshebrew-extrabold.eot');
  src: url('../fonts/opensanshebrew/opensanshebrew-extrabold.eot?#iefix') format('embedded-opentype'), url('../fonts/opensanshebrew/opensanshebrew-extrabold.woff') format('woff'), url('../fonts/opensanshebrew/opensanshebrew-extrabold.ttf') format('truetype'), url('../fonts/opensanshebrew/opensanshebrew-extrabold.svg#open_sans_hebrewextra_bold') format('svg');
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'Open Sans Hebrew';
  src: url('../fonts/opensanshebrew/opensanshebrew-extrabolditalic.eot');
  src: url('../fonts/opensanshebrew/opensanshebrew-extrabolditalic.eot?#iefix') format('embedded-opentype'), url('../fonts/opensanshebrew/opensanshebrew-extrabolditalic.woff') format('woff'), url('../fonts/opensanshebrew/opensanshebrew-extrabolditalic.ttf') format('truetype'), url('../fonts/opensanshebrew/opensanshebrew-extrabolditalic.svg#open_sans_hebrewextrabolditalic') format('svg');
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: 'Open Sans Hebrew Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/opensanshebrewcondensed/opensanshebrewcondensed-light.eot);
  src: url(../fonts/opensanshebrewcondensed/opensanshebrewcondensed-light.eot?#iefix) format('embedded-opentype'), url(../fonts/opensanshebrewcondensed/opensanshebrewcondensed-light.woff) format('woff'), url(../fonts/opensanshebrewcondensed/opensanshebrewcondensed-light.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/opensanshebrewcondensed/opensanshebrewcondensed-regular.eot);
  src: url(../fonts/opensanshebrewcondensed/opensanshebrewcondensed-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/opensanshebrewcondensed/opensanshebrewcondensed-regular.woff) format('woff'), url(../fonts/opensanshebrewcondensed/opensanshebrewcondensed-regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/opensanshebrewcondensed/opensanshebrewcondensed-bold.eot);
  src: url(../fonts/opensanshebrewcondensed/opensanshebrewcondensed-bold.eot?#iefix) format('embedded-opentype'), url(../fonts/opensanshebrewcondensed/opensanshebrewcondensed-bold.woff) format('woff'), url(../fonts/opensanshebrewcondensed/opensanshebrewcondensed-bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Hebrew Condensed';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/opensanshebrewcondensed/opensanshebrewcondensed-extrabold.eot);
  src: url(../fonts/opensanshebrewcondensed/opensanshebrewcondensed-extrabold.eot?#iefix) format('embedded-opentype'), url(../fonts/opensanshebrewcondensed/opensanshebrewcondensed-extrabold.woff) format('woff'), url(../fonts/opensanshebrewcondensed/opensanshebrewcondensed-extrabold.ttf) format('truetype');
}
@font-face {
  font-family: 'Carmelit';
  src: url('../fonts/carmelit/carmelitregular.eot');
  src: url('../fonts/carmelit/carmelitregular.eot?#iefix') format('embedded-opentype'), url('../fonts/carmelit/carmelitregular.woff') format('woff'), url('../fonts/carmelit/carmelitregular.ttf') format('truetype'), url('../fonts/carmelit/carmelitregular.svg#carmelit_regularregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Carmelit';
  src: url('../fonts/carmelit/carmelitbold.eot');
  src: url('../fonts/carmelit/carmelitbold.eot?#iefix') format('embedded-opentype'), url('../fonts/carmelit/carmelitbold.woff') format('woff'), url('../fonts/carmelit/carmelitbold.ttf') format('truetype'), url('../fonts/carmelit/carmelitbold.svg#carmelit_boldbold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Carmela';
  src: url('../fonts/carmela/carmelabold.eot');
  src: url('../fonts/carmela/carmelabold.eot?#iefix') format('embedded-opentype'), url('../fonts/carmela/carmelabold.woff') format('woff'), url('../fonts/carmela/carmelabold.ttf') format('truetype'), url('../fonts/carmela/carmelabold.svg#carmelabold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Carmela';
  src: url('../fonts/carmela/carmelaregular.eot');
  src: url('../fonts/carmela/carmelaregular.eot?#iefix') format('embedded-opentype'), url('../fonts/carmela/carmelaregular.woff') format('woff'), url('../fonts/carmela/carmelaregular.ttf') format('truetype'), url('../fonts/carmela/carmelaregular.svg#carmelaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* = Pojo Global
----------------------------------------------- */
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.direction-ltr {
  direction: ltr;
}
.direction-rtl {
  direction: rtl;
}
a:hover,
a:focus {
  text-decoration: none;
}
.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}
.wp-caption {
  max-width: 100%;
}
/* = Post Navigation
----------------------------------------------- */
nav.post-navigation {
  display: table;
  width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.15);
  border-bottom: 1px solid rgba(128, 128, 128, 0.15);
  margin: 30px 0;
  line-height: 2.5em;
}
nav.post-navigation .nav-prev,
nav.post-navigation .nav-next {
  display: table-cell;
}
nav.post-navigation .nav-prev {
  text-align: left;
}
nav.post-navigation .nav-next {
  text-align: right;
}
/* = Forms // Fields / Button
----------------------------------------------- */
select {
  border: 1px solid #cccccc;
  padding: 3px;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: block;
  width: 100%;
  height: auto;
  vertical-align: middle;
  border-color: #CCCCCC;
  border-style: solid;
  border-width: 1px;
  background-color: #FFFFFF;
  color: #555555;
  font-size: 1em;
  padding: 6px 10px;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #999999;
  outline: 0 none;
}
button,
input[type="submit"] {
  background-color: #FFFFFF;
  background-image: none;
  border-color: #CCCCCC;
  border-style: solid;
  border-width: 1px;
  color: #333333;
  display: inline-block;
  padding: 8px 16px;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: background-image 0.3s linear;
  -moz-transition: background-image 0.3s linear;
  -ms-transition: background-image 0.3s linear;
  -o-transition: background-image 0.3s linear;
  transition: background-image 0.3s linear;
}
button:hover,
input[type="submit"]:hover {
  background-color: #fafafa;
  color: #333333;
  text-decoration: none;
  border-color: #999999;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
button:focus,
input[type="submit"]:focus {
  background-color: #f2f2f2;
  outline: 0;
}
button:active,
input[type="submit"]:active,
button.active,
input[type="submit"].active {
  outline: 0;
}
.post-password-form label {
  display: block;
}
/* = Pojo Widgets
----------------------------------------------- */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
.pojo-divider hr {
  margin: 0;
  min-height: 1px;
}
.pojo-divider.divider-style-space hr {
  border-width: 0 !important;
}
.pojo-divider.divider-style-dashed hr {
  border-style: dashed none none;
}
.pojo-divider.divider-style-dotted hr {
  border-style: dotted none none;
}
.pojo-divider.divider-style-double hr {
  border-style: double none none;
}
.widget-image.align-right {
  text-align: right;
}
.widget-image.align-left {
  text-align: left;
}
.widget-image.align-center {
  text-align: center;
}
.widget-image .widget-image-text {
  margin: 0;
}
div.pojo-image-text {
  overflow: hidden;
}
div.pojo-image-text div.text-align-right {
  text-align: right;
}
div.pojo-image-text div.text-align-left {
  text-align: left;
}
div.pojo-image-text div.text-align-center {
  text-align: center;
}
div.pojo-image-text .image-text-body {
  overflow: hidden;
}
div.pojo-image-text .image-text-body h1,
div.pojo-image-text .image-text-body h2,
div.pojo-image-text .image-text-body h3,
div.pojo-image-text .image-text-body h4,
div.pojo-image-text .image-text-body h5,
div.pojo-image-text .image-text-body h6 {
  margin: 0;
}
div.pojo-image-text img.alignleft {
  margin: 0 15px 0 0;
  max-width: 50%;
}
div.pojo-image-text img.alignright {
  margin: 0 0 0 15px;
  max-width: 50%;
}
div.pojo-image-text img.aligncenter {
  margin: 0 auto;
}
/* = Admin Bar - Back & Front
----------------------------------------------- */
#wpadminbar .quicklinks li .blavatar:before {
  content: "\f319";
}
#wpadminbar li#wp-admin-bar-pojo-dashboard .ab-item:before {
  content: "\f311";
}
#wpadminbar .menupop .menupop > .ab-item:before {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* = Floating
----------------------------------------------- */
.alignright {
  float: right;
}
.alignleft {
  float: left;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* = Pojo Columns
----------------------------------------------- */
.section .columns {
  margin-left: -15px;
  margin-right: -15px;
}
.section .columns:before,
.section .columns:after {
  content: " ";
  display: table;
}
.section .columns:after {
  clear: both;
}
.section .container-section .columns {
  margin-left: 0;
  margin-right: 0;
}
.section .container-section .columns .column-12 {
  padding-right: 0;
  padding-left: 0;
}
.full-width .section .container,
.sidebar-left .section .container,
.sidebar-right .section .container {
  padding-right: 0;
  padding-left: 0;
}
.layout-section .entry-content {
  overflow: hidden;
}
.column-1,
.column-2,
.column-2-5,
.column-3,
.column-4,
.column-5,
.column-6,
.column-7,
.column-8,
.column-9,
.column-10,
.column-11,
.column-12 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.column-1 {
  width: 8.33333%;
}
.column-2 {
  width: 16.6667%;
}
.column-2-5 {
  width: 20%;
}
.column-3 {
  width: 25%;
}
.column-4 {
  width: 33.3333%;
}
.column-5 {
  width: 41.6667%;
}
.column-6 {
  width: 50%;
}
.column-7 {
  width: 58.3333%;
}
.column-8 {
  width: 66.6667%;
}
.column-9 {
  width: 75%;
}
.column-10 {
  width: 83.3333%;
}
.column-11 {
  width: 91.6667%;
}
.column-12 {
  width: 100%;
}
/* = Builder > Video Background
----------------------------------------------- */
.section.has-video-background {
  position: relative;
  clear: both;
  width: 100%;
  min-height: 100px;
}
.section.has-video-background > .custom-video-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  clear: both;
  padding: 0;
  margin: 0;
  visibility: hidden;
  z-index: 1;
}
.section.has-video-background > .custom-video-background > iframe {
  position: absolute;
}
.section.has-video-background .overlay-video-background {
  position: relative;
  z-index: 2;
}
/* = Buttons
----------------------------------------------- */
.pojo-button-wrap.pojo-button-none {
  display: inline-block;
}
.pojo-button-wrap.pojo-button-right {
  display: block;
  float: right;
}
.pojo-button-wrap.pojo-button-center {
  display: block;
  text-align: center;
}
.pojo-button-wrap.pojo-button-left {
  display: block;
  float: left;
}
.pojo-button-wrap.pojo-button-block {
  display: block;
}
.pojo-button-wrap.pojo-button-block .button {
  display: block;
  width: 100%;
}
.button {
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #333333;
  display: inline-block;
  padding: 9px 27px;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: background-image 0.3s linear;
  -moz-transition: background-image 0.3s linear;
  -ms-transition: background-image 0.3s linear;
  -o-transition: background-image 0.3s linear;
  transition: background-image 0.3s linear;
}
.button .pojo-button-icon {
  padding-right: 5px;
}
.button:hover {
  background-color: #e6e6e6;
  border-color: rgba(0, 0, 0, 0.4);
  color: #333333;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0.3)), color-stop(1, rgba(255, 255, 255, 0)));
  background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-transition: background-image 0.3s linear;
  -moz-transition: background-image 0.3s linear;
  -ms-transition: background-image 0.3s linear;
  -o-transition: background-image 0.3s linear;
  transition: background-image 0.3s linear;
}
.button:focus {
  background-color: #e0e0e0;
  border-color: rgba(0, 0, 0, 0.4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0.15)));
  background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 100%);
  outline: 0;
}
.button:active,
.button.active {
  outline: 0;
}
.button.size-small {
  font-size: 0.9em;
  font-weight: normal;
  line-height: 1.2;
  padding: 6px 18px;
}
.button.size-large {
  font-size: 1.2em;
  line-height: 1.5;
  padding: 10px 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.button.size-xl {
  font-size: 1.4em;
  line-height: 1.6;
  padding: 11px 33px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.button.size-xxl {
  font-size: 1.6em;
  line-height: 1.8;
  padding: 18px 60px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.button.edit-link {
  margin: 10px 0;
}
/* = Pojo Forms Front
----------------------------------------------- */
.pojo-form {
  position: relative;
  padding-bottom: 20px;
}
.pojo-form .columns {
  margin-left: -5px;
  margin-right: -5px;
}
.pojo-form .columns:before,
.pojo-form .columns:after {
  content: " ";
  display: table;
}
.pojo-form .columns:after {
  clear: both;
}
.pojo-form .columns .field-group,
.pojo-form .columns .form-actions {
  padding-left: 5px;
  padding-right: 5px;
}
.pojo-form label {
  cursor: pointer;
}
.pojo-form fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
.pojo-form legend {
  display: block;
  width: 100%;
  padding: 0;
  font-size: 1.2em;
  line-height: inherit;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.pojo-form .field {
  display: block;
  width: 100%;
  vertical-align: middle;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  background-color: #FFFFFF;
  color: #555555;
  font-size: 1em;
  line-height: 1.4;
  height: auto;
  padding: 9px 16px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.pojo-form .field:focus {
  border-color: rgba(0, 0, 0, 0.4);
  outline: 0 none;
}
.pojo-form .field.size-small {
  font-size: 0.9em;
  line-height: 1.2;
  padding: 6px 12px;
}
.pojo-form .field.size-large {
  font-size: 1.2em;
  line-height: 1.5;
  padding: 10px 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.pojo-form .field.size-xl {
  font-size: 1.4em;
  line-height: 1.6;
  padding: 11px 16px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.pojo-form .field.size-xxl {
  font-size: 1.6em;
  line-height: 1.8;
  padding: 18px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.pojo-form textarea.field {
  height: auto;
  padding: 10px;
}
.pojo-form .field-list-item .field {
  display: inline-block;
  width: auto;
  margin: 0;
}
.pojo-form .field-list-item label {
  margin-bottom: 0;
  font-weight: inherit;
}
.pojo-form .field-group {
  margin-bottom: 10px;
}
.pojo-form .field-group .label-field {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
  line-height: 1;
}
.pojo-form .field-group.field-list-inline .field-list-item {
  display: inline-block;
}
.pojo-form .field-group.field-list-inline .field-list-item label {
  margin-left: 0.1em;
  margin-right: 0.5em;
}
.pojo-form.form-align-inside .label-field {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.pojo-form.form-align-left .label-field,
.pojo-form.form-align-right .label-field {
  display: inline-block;
  width: 19.5%;
  text-align: left;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pojo-form.form-align-left .field,
.pojo-form.form-align-right .field,
.pojo-form.form-align-left .field-list-items,
.pojo-form.form-align-right .field-list-items {
  float: right;
  display: inline-block;
  width: 80%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pojo-form.form-align-left .field-group,
.pojo-form.form-align-right .field-group {
  vertical-align: middle;
}
.pojo-form.form-align-left .field-group:before,
.pojo-form.form-align-right .field-group:before,
.pojo-form.form-align-left .field-group:after,
.pojo-form.form-align-right .field-group:after {
  display: table;
  content: " ";
}
.pojo-form.form-align-left .field-group:after,
.pojo-form.form-align-right .field-group:after {
  clear: both;
}
.pojo-form.form-align-left .field-list-items .field,
.pojo-form.form-align-right .field-list-items .field {
  display: inline-block;
  float: none;
  width: auto;
}
.pojo-form.form-align-left .field-addon .field,
.pojo-form.form-align-right .field-addon .field {
  width: 100%;
}
.pojo-form.form-align-left .pojo-button-wrap,
.pojo-form.form-align-right .pojo-button-wrap {
  margin-left: 20%;
}
.pojo-form.form-align-left .form-message,
.pojo-form.form-align-right .form-message {
  margin-left: 20%;
}
.pojo-form.form-align-left .help-inline,
.pojo-form.form-align-right .help-inline {
  margin-left: 20%;
}
.pojo-form.form-align-right .label-field {
  text-align: right;
}
.pojo-form .error .field {
  border-color: #D43F3A !important;
}
.pojo-form .error .field-addon .field + span {
  border-color: #D43F3A !important;
}
.pojo-form .error .help-inline {
  color: #D43F3A;
  font-size: 0.9em;
}
.pojo-form .form-message {
  margin: 10px 0;
  font-size: 1em;
  line-height: 1;
}
.pojo-form .form-message:before {
  content: "\f00c";
  display: inline-block;
  font-family: fontawesome;
  font-weight: normal;
  font-style: normal;
  vertical-align: middle;
  margin-right: 5px;
}
.pojo-form .form-message.form-message-danger {
  color: #D43F3A !important;
}
.pojo-form .form-message.form-message-danger:before {
  content: "\f00d";
}
.pojo-form .form-message.form-message-success {
  color: #3C763D !important;
}
.pojo-form.form-message-note .form-message.form-message-danger {
  border: none;
}
.pojo-form .edit-form {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.pojo-form:hover .edit-form {
  opacity: 1;
}
.form {
  position: relative;
  padding-bottom: 20px;
}
/* = Pojo Slideshows - Custom CSS
----------------------------------------------- */
/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Edit by Pojo.me Team
 */
/** RESET AND LAYOUT
===================================*/
.pojo-slideshow {
  position: relative;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
.pojo-slideshow.slideshow-bullets {
  padding-bottom: 40px;
}
.pojo-slideshow .edit-slideshow {
  position: absolute;
  bottom: 0;
  right: 5px;
  z-index: 99;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.pojo-slideshow:hover .edit-slideshow {
  opacity: 1;
}
.pojo-slideshow .slide .bx-caption {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.pojo-slideshow .slide:hover .bx-caption {
  opacity: 1;
}
.bx-wrapper {
  position: relative;
  margin: 0 auto 30px;
  padding: 0;
  *zoom: 1;
}
.bx-wrapper img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  display: block;
}
/** THEME
===================================*/
.bx-wrapper .bx-viewport {
  /*left: -5px;*/
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../bxslider/images/bx_loader.gif) center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}
/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  line-height: 10px;
  color: #666;
  padding-top: 20px;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #cccccc;
  text-indent: -9999px;
  display: block;
  width: 7px;
  height: 7px;
  line-height: 10px;
  margin: 0 5px;
  outline: 0;
  overflow: hidden;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #999999;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 0;
  background: url(../bxslider/images/controls.png) no-repeat 0 -32px;
}
.bx-wrapper .bx-next {
  right: 0;
  background: url(../bxslider/images/controls.png) no-repeat -43px -32px;
}
.bx-wrapper .bx-prev:hover {
  background-position: 0 0;
}
.bx-wrapper .bx-next:hover {
  background-position: -43px 0;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  -webkit-transition: none;
  transition: none;
  text-indent: -9999px;
  z-index: 99;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(../bxslider/images/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(../bxslider/images/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666\9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  display: block;
  font-size: .9em;
  line-height: 1;
  text-align: center;
  padding: 5px;
}
/* = Pojo Tabs
----------------------------------------------- */
.pojo-tabs {
  margin-bottom: -1px;
  padding: 0;
}
.pojo-tabs > li > a {
  background-color: #f5f5f5;
  margin-right: -1px;
  border: 1px solid #DDDDDD;
  outline: none;
  font-weight: bold;
  line-height: inherit;
  font-size: 1em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.pojo-tabs > li > a:hover {
  border-color: #DDDDDD;
}
.pojo-tabs > li.active > a {
  background: #FFFFFF;
}
.pojo-tabs > li.active > a:hover,
.pojo-tabs > li.active > a:focus {
  background: #FFFFFF;
}
.pojo-tab-content {
  border: 1px solid #DDDDDD;
  background-color: #FFFFFF;
  padding: 15px;
  overflow: hidden;
}
/* = Accordion
--------------------------------------------------- */
.pojo-accordion .panel {
  border-color: #dddddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.pojo-accordion .panel .panel-heading .panel-title {
  display: block;
  outline: none;
  font-weight: bold;
  line-height: inherit;
  font-size: 1em;
}
.pojo-accordion .panel .panel-heading .panel-title:focus {
  color: inherit;
}
.pojo-accordion .panel .panel-heading .panel-title:after {
  content: "\f068";
  font-family: fontawesome;
  font-weight: normal;
  float: right;
}
.pojo-accordion .panel .panel-heading .panel-title.collapsed:after {
  content: "\f067";
}
/* = Toggle
--------------------------------------------------- */
.pojo-toggle.panel {
  margin-bottom: 0;
  border-color: #dddddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.pojo-toggle.panel + .panel {
  margin-top: 5px;
}
.pojo-toggle.panel .panel-heading .panel-title {
  display: block;
  outline: none;
  font-weight: bold;
  line-height: inherit;
  font-size: 1em;
}
.pojo-toggle.panel .panel-heading .panel-title:focus {
  color: inherit;
}
.pojo-toggle.panel .panel-heading .panel-title:after {
  content: "\f068";
  font-family: fontawesome;
  font-weight: normal;
  float: right;
}
.pojo-toggle.panel .panel-heading .panel-title.collapsed:after {
  content: "\f067";
}
.pojo-toggle.panel .panel-body {
  border-top: 1px solid #DDDDDD;
}
/* = Pojo Catalog Widget
----------------------------------------------- */
ul.pojo-catalog-list {
  border-top: 1px solid #EEEEEE;
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.pojo-catalog-list li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  clear: both;
}
ul.pojo-catalog-list li .pojo-catalog-item {
  padding: 15px 10px;
  border-bottom: 1px solid #EEEEEE;
  color: inherit;
  display: table;
  width: 100%;
}
ul.pojo-catalog-list li .pojo-catalog-item a {
  color: inherit;
}
ul.pojo-catalog-list li .pojo-catalog-item .catalog-item-thumbnail {
  display: table-cell;
  vertical-align: top;
  margin-right: 15px;
}
ul.pojo-catalog-list li .pojo-catalog-item .catalog-item-content {
  display: table-cell;
  vertical-align: top;
  width: 100%;
}
ul.pojo-catalog-list li .pojo-catalog-item .catalog-item-content h5 {
  margin: 5px 0 5px;
  line-height: 1;
}
ul.pojo-catalog-list li .pojo-catalog-item .catalog-item-content p {
  margin: 0;
  line-height: 1;
  font-size: 0.9em;
}
ul.pojo-catalog-list li .pojo-catalog-item .catalog-item-price {
  display: table-cell;
  vertical-align: top;
  font-size: 1.2em;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
}
ul.pojo-catalog-list.thumbnail-shape-circle .catalog-item-thumbnail {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
ul.pojo-catalog-list.thumbnail-size-small .catalog-item-thumbnail {
  width: 48px;
  height: 48px;
  min-width: 48px;
}
ul.pojo-catalog-list.thumbnail-size-medium .catalog-item-thumbnail {
  width: 72px;
  height: 72px;
  min-width: 72px;
}
ul.pojo-catalog-list.thumbnail-size-large .catalog-item-thumbnail {
  width: 96px;
  height: 96px;
  min-width: 96px;
}
/* = Pojo News Ticker
----------------------------------------------- */
.pojo-news-ticker ul.ticker-items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.pojo-news-ticker ul.ticker-items li.ticker-item {
  display: none;
  line-height: 1;
}
.pojo-news-ticker ul.ticker-items li.ticker-item:first-child {
  display: inline-block;
}
.pojo-news-ticker ul.ticker-items li.ticker-item a.ticker-link {
  color: inherit;
}
/* = Pojo Testimonials
----------------------------------------------- */
.pojo-testimonials ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pojo-testimonials .pojo-testimonial {
  overflow: hidden;
}
.pojo-testimonials .pojo-testimonial blockquote {
  border: none;
  padding: 0;
  margin: 0 0 15px;
}
.pojo-testimonials .pojo-testimonial blockquote p {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
}
.pojo-testimonials .pojo-testimonial .testimonial-thumbnail {
  display: inline-block;
  vertical-align: top;
}
.pojo-testimonials .pojo-testimonial .testimonial-thumbnail img {
  display: inline-block;
  border-radius: 50%;
  width: 64px;
  height: 64px;
}
.pojo-testimonials .pojo-testimonial .testimonial-thumbnail + .testimonial-meta {
  display: inline-block;
  padding: 7px 14px;
}
.pojo-testimonials.testimonial-align-center {
  text-align: center;
}
.pojo-testimonials.testimonial-align-center blockquote {
  padding: 0 15px;
}
.pojo-testimonials.testimonial-align-center .testimonial-thumbnail img {
  width: auto;
  height: auto;
}
.pojo-testimonials.testimonial-align-center .testimonial-thumbnail,
.pojo-testimonials.testimonial-align-center .testimonial-meta {
  display: block;
}
.pojo-testimonials.testimonial-align-right {
  text-align: right;
}
.pojo-testimonials.testimonial-align-right .testimonial-thumbnail {
  float: right;
}
.pojo-testimonials.testimonial-align-left {
  text-align: left;
}
.pojo-testimonials.testimonial-align-left .testimonial-thumbnail {
  float: left;
}
/* = Pojo Animated Numbers Widget
----------------------------------------------- */
.pojo-numbers {
  text-align: center;
  color: inherit;
  line-height: 1;
}
.pojo-numbers .pojo-numbers-number {
  font-size: 69px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #222222;
}
.pojo-numbers .pojo-numbers-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #666666;
}
/*!
 * Hover.css (http://ianlunn.co.uk/)
 * Version: 1.0.9
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover

 * Made available under a MIT License:
 * http://www.opensource.org/licenses/mit-license.php

 * Hover.css Copyright Ian Lunn 2014.
 */
/* 2D TRANSITIONS */
/* Grow */
.hover-grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hover-grow:hover,
.hover-grow:focus,
.hover-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* Shrink */
.hover-shrink {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hover-shrink:hover,
.hover-shrink:focus,
.hover-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
/* Pulse Grow */
@-webkit-keyframes pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hover-pulse-grow {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hover-pulse-grow:hover,
.hover-pulse-grow:focus,
.hover-pulse-grow:active {
  -webkit-animation-name: pulse-grow;
  animation-name: pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
/* Pulse Shrink */
@-webkit-keyframes pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hover-pulse-shrink {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hover-pulse-shrink:hover,
.hover-pulse-shrink:focus,
.hover-pulse-shrink:active {
  -webkit-animation-name: pulse-shrink;
  animation-name: pulse-shrink;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
/* Push */
@-webkit-keyframes push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.hover-push {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hover-push:hover,
.hover-push:focus,
.hover-push:active {
  -webkit-animation-name: push;
  animation-name: push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* Pop */
@-webkit-keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.hover-pop {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hover-pop:hover,
.hover-pop:focus,
.hover-pop:active {
  -webkit-animation-name: pop;
  animation-name: pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* Rotate */
.hover-rotate {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hover-rotate:hover,
.hover-rotate:focus,
.hover-rotate:active {
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}
/* Grow Rotate */
.hover-grow-rotate {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hover-grow-rotate:hover,
.hover-grow-rotate:focus,
.hover-grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}
/* Float */
.hover-float {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hover-float:hover,
.hover-float:focus,
.hover-float:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
/* Sink */
.hover-sink {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hover-sink:hover,
.hover-sink:focus,
.hover-sink:active {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}
/* Hover */
@-webkit-keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
.hover-hover {
  display: inline-block;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hover-hover:hover,
.hover-hover:focus,
.hover-hover:active {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
  -webkit-animation-name: hover;
  animation-name: hover;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
/* Wobble Vertical */
@-webkit-keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hover-wobble-vertical {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hover-wobble-vertical:hover,
.hover-wobble-vertical:focus,
.hover-wobble-vertical:active {
  -webkit-animation-name: wobble-vertical;
  animation-name: wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* Wobble Horizontal */
@-webkit-keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.hover-wobble-horizontal {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hover-wobble-horizontal:hover,
.hover-wobble-horizontal:focus,
.hover-wobble-horizontal:active {
  -webkit-animation-name: wobble-horizontal;
  animation-name: wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* Buzz */
@-webkit-keyframes buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hover-buzz {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hover-buzz:hover,
.hover-buzz:focus,
.hover-buzz:active {
  -webkit-animation-name: buzz;
  animation-name: buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
div.pojo-infscr-loader div.pojo-loading-wrap {
  display: none;
}
div.pojo-infscr-loader div.pojo-loadmore-wrap {
  display: block;
}
div.pojo-infscr-loader.processing div.pojo-loadmore-wrap {
  display: none;
}
div.pojo-infscr-loader.processing div.pojo-loading-wrap {
  display: block;
}
div.pojo-infscr-loader.done {
  display: none;
}
/** 
 *  Master Slider
 *	version 1.5
 * 	Core css file
 */
.master-slider {
  position: relative;
  visibility: hidden;
  -moz-transform: translate3d(0, 0, 0);
}
.master-slider.ms-fullheight {
  height: 100%;
}
.master-slider img {
  max-width: none;
  max-height: none;
}
.ms-ie img {
  border: none;
}
.ms-ie8 * {
  opacity: inherit;
  filter: inherit;
}
.ms-ie7 {
  zoom: 1;
}
.ms-loading-container {
  position: absolute;
  width: 100%;
  top: 0;
}
.ms-loading-container .ms-loading,
.ms-slide .ms-slide-loading {
  width: 36px;
  height: 36px;
  background: url(../masterslider/style/loading-2.gif) no-repeat center #ffffff;
  border-radius: 60px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -18px;
  opacity: 0.9;
}
/* grab cursor */
.ms-def-cursor {
  cursor: auto !important;
}
.ms-grab-cursor {
  cursor: url("../masterslider/style/grab.png"), move;
}
.ms-grabbing-cursor {
  cursor: url("../masterslider/style/grabbing.png"), move;
}
.ms-ie .ms-grab-cursor {
  cursor: url("../masterslider/style/grab.cur"), move;
}
.ms-ie .ms-grabbing-cursor {
  cursor: url("../masterslider/style/grabbing.cur"), move;
}
.ms-view {
  margin: 0 auto;
  overflow: hidden;
  background: black;
  position: relative;
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  -ms-perspective: 2000px;
  perspective: 2000px;
}
.ms-view .ms-slide-container {
  position: relative;
}
.ms-view .ms-slide-link {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 110;
}
.ms-slide {
  position: absolute;
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  transform: translateZ(0px);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100%;
}
.ms-slide .ms-slide-bgcont,
.ms-slide .ms-slide-bgvideocont {
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.ms-slide .ms-slide-bgvideocont {
  z-index: 5;
  height: 100%;
}
.ms-slide .ms-slide-bgvideocont,
.ms-slide-bgvideocont > video {
  -webkit-transform: translateZ(0.3px);
  -moz-transform: translateZ(0.3px);
  -ms-transform: translateZ(0.3px);
  -o-transform: translateZ(0.3px);
  transform: translateZ(0.3px);
}
.ms-slide .ms-slide-bgvideo {
  position: absolute;
  top: 0px;
}
.ms-container {
  position: relative;
  margin: 0 auto;
}
.ms-slide .ms-slide-bgcont img,
.ms-container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ms-slide .ms-layer {
  position: absolute;
}
.ms-slide .ms-slide-layers {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0px;
}
.ms-slide .ms-slide-video {
  position: absolute;
  top: 0;
  z-index: 11;
  background: black;
  padding: 0;
  margin: 0;
  border: none;
}
.ms-layer.video-box {
  background: black;
}
.ms-layer.video-box iframe {
  padding: 0;
  margin: 0;
  border: none;
  position: absolute;
  z-index: 10;
}
.ms-slide .ms-slide-vpbtn,
.ms-slide .ms-video-btn {
  position: absolute;
  cursor: pointer;
  z-index: 10;
}
.ms-slide .ms-slide-vcbtn {
  position: absolute;
  cursor: pointer;
  z-index: 13;
}
.ms-slide-vcbtn-mobile {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 28px;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  z-index: 13;
}
.ms-slide-vcbtn-mobile .ms-vcbtn-txt {
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 0.75em;
  display: inline-block;
  background: url(../masterslider/style/video-close-btn.png) no-repeat 0px 3px;
  padding-left: 15px;
  height: 15px;
  color: #DBDBDB;
  margin-top: 7px;
}
.ms-slide .ms-slide-vcbtn,
.ms-slide .ms-slide-layers,
.ms-slide .ms-slide-vpbtn,
.ms-slide .ms-slide-video {
  -webkit-transform: translateZ(0.44px);
  -moz-transform: translateZ(0.44px);
  -ms-transform: translateZ(0.44px);
  -o-transform: translateZ(0.44px);
  transform: translateZ(0.44px);
}
.ms-video-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.ms-mask-frame {
  overflow: hidden;
  position: absolute;
  float: left;
}
/* controls */
.ms-thumb-list {
  overflow: hidden;
  position: absolute;
}
.ms-thumbs-cont {
  position: relative;
}
.ms-thumb-frame img {
  width: 100%;
  height: auto;
}
.ms-thumb-frame {
  cursor: pointer;
  float: left;
  overflow: hidden;
}
.ms-bullet {
  cursor: pointer;
  float: left;
}
.ms-sbar .ms-bar {
  position: relative;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -ms-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}
.ms-time-bar {
  -webkit-transition: width 120ms linear;
  -moz-transition: width 120ms linear;
  -ms-transition: width 120ms linear;
  -o-transition: width 120ms linear;
  transition: width 120ms linear;
}
.ms-ie7 .ms-tooltip-arrow {
  height: 0px;
}
/**
 *  Master Slider
 *  Pojo Skin
 */
.pojo-gallery {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 0 100px;
}
.pojo-gallery.thumb-ratio-1_1 {
  padding: 0 0 85px;
}
.pojo-gallery.thumb-ratio-1_1 .ms-skin-pojo .ms-thumb-list.ms-dir-h {
  bottom: -80px;
  height: 80px;
}
.pojo-gallery.thumb-ratio-1_1 .ms-skin-pojo .ms-thumb-list.ms-dir-v {
  width: 75px;
  right: -75px;
}
.pojo-gallery.thumb-ratio-1_1 .ms-skin-pojo .ms-thumb-frame {
  width: 75px;
  height: 75px;
}
.pojo-gallery.thumb-ratio-4_3 {
  padding: 0 0 100px;
}
.pojo-gallery.thumb-ratio-4_3 .ms-skin-pojo .ms-thumb-list.ms-dir-h {
  bottom: -95px;
  height: 95px;
}
.pojo-gallery.thumb-ratio-4_3 .ms-skin-pojo .ms-thumb-list.ms-dir-v {
  width: 120px;
  right: -120px;
}
.pojo-gallery.thumb-ratio-4_3 .ms-skin-pojo .ms-thumb-frame {
  width: 120px;
  height: 90px;
}
.pojo-gallery.thumb-ratio-none {
  padding: 0;
}
.pojo-slideshow .ms-view {
  background: transparent;
}
.ms-skin-pojo .ms-slide .ms-slide-vpbtn,
.ms-skin-pojo .ms-video-btn {
  width: 50px;
  height: 51px;
  background: url(../masterslider/skins/pojo/pojo-skin-1.png) no-repeat -14px -150px;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}
.ms-skin-pojo .ms-slide .ms-slide-vcbtn {
  width: 30px;
  height: 30px;
  background: url(../masterslider/skins/pojo/pojo-skin-1.png) no-repeat -24px -28px;
  top: 18px;
  right: 30px;
}
/* controls */
.ms-skin-pojo .ms-nav-next,
.ms-skin-pojo .ms-nav-prev {
  width: 30px;
  background: url(../masterslider/skins/pojo/pojo-skin-1.png);
  background-position: -89px -26px;
  height: 40px;
  cursor: pointer;
  top: 50%;
  left: 30px;
  margin-top: -20px;
  position: absolute;
  z-index: 10;
}
.ms-skin-pojo .ms-nav-next {
  right: 30px;
  left: auto;
  background-position: -89px -103px;
}
.ms-skin-pojo .ms-thumb-frame-selected {
  opacity: 0.6;
}
.ms-skin-pojo .ms-thumb-list.ms-dir-h {
  bottom: -95px;
  width: 100%;
  height: 95px;
}
.ms-skin-pojo .ms-thumb-list.ms-dir-v {
  height: 100%;
  width: 160px;
  right: -160px;
  top: 0;
}
.ms-skin-pojo .ms-thumb-frame {
  cursor: pointer;
  float: left;
  width: 160px;
  height: 90px;
  margin: 5px 5px 0 0;
  overflow: hidden;
}
.ms-skin-pojo .ms-bullets.ms-dir-h {
  position: absolute;
  bottom: 20px;
  right: 50%;
  width: 100px;
}
.ms-skin-pojo .ms-bullets.ms-dir-h .ms-bullets-count {
  position: relative;
  right: -50%;
}
.ms-skin-pojo .ms-bullet {
  width: 10px;
  height: 10px;
  background: url(../masterslider/skins/pojo/pojo-skin-1.png) no-repeat;
  margin: 4px;
  background-position: -34px -117px;
}
.ms-skin-pojo .ms-bullet-selected {
  background-position: -34px -84px;
}
.ms-skin-pojo .ms-sbar {
  position: absolute;
}
.ms-skin-pojo .ms-sbar.ms-dir-h {
  left: 10px;
  right: 10px;
  top: 5px;
}
.ms-skin-pojo .ms-sbar.ms-dir-v {
  top: 10px;
  bottom: 10px;
  right: 5px;
}
.ms-skin-pojo .ms-sbar .ms-bar {
  height: 4px;
  background: #DD00FF;
  border-radius: 4px;
}
.ms-skin-pojo .ms-sbar.ms-dir-v .ms-bar {
  width: 4px;
}
.ms-skin-pojo .ms-timerbar {
  width: 100%;
  bottom: 0px;
  position: absolute;
}
.ms-skin-pojo .ms-time-bar {
  height: 3px;
  background: #FFFFFF;
  border-top: solid 1px rgba(0, 0, 0, 0.41);
}
.ms-skin-pojo .ms-ctimer {
  position: absolute;
  top: 30px;
  left: 30px;
  cursor: pointer;
}
.ms-skin-pojo .ms-tooltip {
  position: absolute;
  z-index: 110;
  cursor: auto;
}
.ms-skin-pojo .ms-tooltip-top .ms-tooltip-arrow,
.ms-skin-pojo .ms-tooltip-bottom .ms-tooltip-arrow {
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
  position: absolute;
  left: 50%;
  margin-left: -10px;
}
.ms-skin-pojo .ms-tooltip-top .ms-tooltip-arrow {
  border-top: solid 10px;
  border-top-color: silver;
  border-top-color: rgba(240, 240, 240, 0.88);
  bottom: -10px;
}
.ms-skin-pojo .ms-tooltip-bottom .ms-tooltip-arrow {
  border-bottom: solid 10px;
  border-bottom-color: silver;
  border-bottom-color: rgba(240, 240, 240, 0.88);
  top: -10px;
}
.ms-skin-pojo .ms-tooltip-right .ms-tooltip-arrow,
.ms-skin-pojo .ms-tooltip-left .ms-tooltip-arrow {
  border-top: solid 10px transparent;
  border-bottom: solid 10px transparent;
  position: absolute;
  top: 50%;
  margin-top: -10px;
}
.ms-skin-pojo .ms-tooltip-right .ms-tooltip-arrow {
  border-right: solid 10px;
  border-right-color: silver;
  border-right-color: rgba(240, 240, 240, 0.88);
  left: -10px;
}
.ms-skin-pojo .ms-tooltip-left .ms-tooltip-arrow {
  border-left: solid 10px;
  border-left-color: silver;
  border-left-color: rgba(240, 240, 240, 0.88);
  right: -10px;
}
@keyframes point-anim {
  0% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    opacity: 0;
  }
}
@-webkit-keyframes point-anim {
  0% {
    -webkit-transform: scale(0.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}
.ms-skin-pojo .ms-tooltip-point {
  cursor: pointer;
}
.ms-skin-pojo .ms-tooltip-point .ms-point-center {
  width: 12px;
  height: 12px;
  border-radius: 15px;
  border: solid 2px #BBB;
  background: white;
  margin: -8px 0 0 -8px;
  position: absolute;
  z-index: 5;
}
.ms-skin-pojo .ms-tooltip-point .ms-point-border {
  width: 22px;
  height: 22px;
  background: black;
  background: rgba(0, 0, 0, 0.36);
  margin: -11px 0 0 -11px;
  position: absolute;
  border-radius: 15px;
  animation: point-anim 1.5s infinite;
  -moz-animation: point-anim 1.5s infinite;
  -webkit-animation: point-anim 1.5s infinite;
  -o-animation: point-anim 1.5s infinite;
}
.ms-skin-pojo .ms-info {
  position: absolute;
  bottom: 0;
  line-height: 1;
  padding: 10px 20px;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #000000;
  opacity: 0.8;
  z-index: 2;
}
.ms-skin-pojo .ms-lightbox,
.ms-skin-pojo .ms-lightbox.ms-slide-link {
  position: absolute;
  top: auto;
  bottom: 20px;
  right: 20px;
  text-indent: 9999px;
  display: block;
  width: 55px;
  height: 52px;
  background: url(../masterslider/skins/pojo/lightbox-btn.png) no-repeat center;
  z-index: 9999;
}
/* In Android browser, using css animations over slider causes some crashes */
.ms-android.ms-skin-pojo .ms-tooltip-point .ms-point-border {
  animation: none;
  -moz-animation: none;
  -webkit-animation: none;
  -o-animation: none;
}
.ms-skin-pojo .ms-tooltip {
  max-width: 200px;
}
.ms-skin-pojo .ms-tooltip-cont {
  padding: 10px;
  background: silver;
  background: rgba(240, 240, 240, 0.88);
  text-shadow: 0 1px 0px white;
  margin-left: -1px;
}
/* retina */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .ms-skin-pojo .ms-slide .ms-slide-vpbtn,
  .ms-skin-pojo .ms-video-btn,
  .ms-skin-pojo .ms-slide .ms-slide-vcbtn,
  .ms-skin-pojo .ms-nav-next,
  .ms-skin-pojo .ms-nav-prev,
  .ms-skin-pojo .ms-bullet {
    background-image: url(../masterslider/skins/pojo/pojo-skin-1-retina.png);
    background-size: 152px 225px;
  }
}
@media (max-width: 768px) {
  .pojo-gallery {
    padding: 0 0 100px;
  }
  .pojo-gallery .ms-skin-pojo .ms-thumb-frame {
    width: 90px;
  }
  .pojo-gallery .ms-skin-pojo .ms-lightbox,
  .pojo-gallery .ms-skin-pojo .ms-lightbox.ms-slide-link {
    bottom: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
  }
  .pojo-gallery.thumb-ratio-1_1 {
    padding: 0 0 85px;
  }
  .pojo-gallery.thumb-ratio-1_1 .ms-skin-pojo .ms-thumb-frame {
    width: 40px;
  }
  .pojo-gallery.thumb-ratio-4_3 {
    padding: 0 0 100px;
  }
  .pojo-gallery.thumb-ratio-4_3 .ms-skin-pojo .ms-thumb-frame {
    width: 60px;
  }
}
/* = WooCommerce - Custom for pojo.me themes
----------------------------------------------- */
.woocommerce,
.woocommerce-page {
  /* =General Layout Styles
	-------------------------------------------------------------- */
  /* =Product Page
	-------------------------------------------------------------- */
  /* =Product Loops
	-------------------------------------------------------------- */
  /* =Cart Page
	-------------------------------------------------------------- */
  /* =Quantity inputs
	-------------------------------------------------------------- */
  /* =Massages
	-------------------------------------------------------------- */
  /* =Reviews/comments
	-------------------------------------------------------------- */
  /* = Checkout
   -------------------------------------------------------------- */
  /* = Misc
	-------------------------------------------------------------- */
}
.woocommerce ins,
.woocommerce-page ins {
  text-decoration: none;
}
.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  float: left;
  width: 50%;
}
.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
  padding-right: 15px;
}
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  padding-left: 15px;
}
.woocommerce div.product,
.woocommerce-page div.product,
.woocommerce #content div.product,
.woocommerce-page #content div.product {
  /* Tabs on the product page */
  /* add to cart forms */
}
.woocommerce div.product div.images,
.woocommerce-page div.product div.images,
.woocommerce #content div.product div.images,
.woocommerce-page #content div.product div.images {
  float: left;
  width: 50%;
  padding-right: 15px;
}
.woocommerce div.product div.thumbnails a,
.woocommerce-page div.product div.thumbnails a,
.woocommerce #content div.product div.thumbnails a,
.woocommerce-page #content div.product div.thumbnails a {
  float: left;
  width: 30.75%;
  margin-right: 3.8%;
  margin-bottom: 15px;
}
.woocommerce div.product div.thumbnails a.last,
.woocommerce-page div.product div.thumbnails a.last,
.woocommerce #content div.product div.thumbnails a.last,
.woocommerce-page #content div.product div.thumbnails a.last {
  margin-right: 0;
}
.woocommerce div.product div.thumbnails a.first,
.woocommerce-page div.product div.thumbnails a.first,
.woocommerce #content div.product div.thumbnails a.first,
.woocommerce-page #content div.product div.thumbnails a.first {
  clear: both;
}
.woocommerce div.product div.summary,
.woocommerce-page div.product div.summary,
.woocommerce #content div.product div.summary,
.woocommerce-page #content div.product div.summary {
  float: left;
  width: 50%;
  padding-left: 15px;
}
.woocommerce div.product div.summary .price,
.woocommerce-page div.product div.summary .price,
.woocommerce #content div.product div.summary .price,
.woocommerce-page #content div.product div.summary .price {
  font-weight: bold;
}
.woocommerce div.product div.summary .price ins,
.woocommerce-page div.product div.summary .price ins,
.woocommerce #content div.product div.summary .price ins,
.woocommerce-page #content div.product div.summary .price ins {
  text-decoration: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs,
.woocommerce-page div.product .woocommerce-tabs ul.tabs,
.woocommerce #content div.product .woocommerce-tabs ul.tabs,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs {
  padding: 0 1em 0;
  margin: 0;
}
.woocommerce div.product .woocommerce-tabs .panel,
.woocommerce-page div.product .woocommerce-tabs .panel,
.woocommerce #content div.product .woocommerce-tabs .panel,
.woocommerce-page #content div.product .woocommerce-tabs .panel {
  margin: 0 0 2em;
  padding: 15px;
}
.woocommerce div.product form.cart div.quantity,
.woocommerce-page div.product form.cart div.quantity,
.woocommerce #content div.product form.cart div.quantity,
.woocommerce-page #content div.product form.cart div.quantity {
  float: none;
  display: inline-block;
  margin: 0 4px 0 0;
  vertical-align: middle;
}
.woocommerce div.product form.cart .button,
.woocommerce-page div.product form.cart .button,
.woocommerce #content div.product form.cart .button,
.woocommerce-page #content div.product form.cart .button {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
.woocommerce div.product form.cart .variations td.label,
.woocommerce-page div.product form.cart .variations td.label,
.woocommerce #content div.product form.cart .variations td.label,
.woocommerce-page #content div.product form.cart .variations td.label {
  vertical-align: baseline;
}
.woocommerce div.product form.cart .group_table td.label,
.woocommerce-page div.product form.cart .group_table td.label,
.woocommerce #content div.product form.cart .group_table td.label,
.woocommerce-page #content div.product form.cart .group_table td.label {
  vertical-align: baseline;
}
.woocommerce ul.products,
.woocommerce-page ul.products {
  margin-right: -15px;
  margin-left: -15px;
}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  float: left;
  width: 25%;
  margin: 0 0 30px;
  position: relative;
  padding: 15px;
}
.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price {
  font-weight: bold;
}
.woocommerce ul.products li.product .price ins,
.woocommerce-page ul.products li.product .price ins {
  text-decoration: none;
}
.woocommerce .related.products,
.woocommerce-page .related.products,
.woocommerce .upsells.products,
.woocommerce-page .upsells.products {
  float: left;
  width: 50%;
}
.woocommerce .related ul.products,
.woocommerce-page .related ul.products,
.woocommerce .upsells ul.products,
.woocommerce-page .upsells ul.products,
.woocommerce .related ul,
.woocommerce-page .related ul,
.woocommerce .upsells ul,
.woocommerce-page .upsells ul {
  float: none;
  margin-right: -15px;
  margin-left: -15px;
}
.woocommerce .related ul.products li.product,
.woocommerce-page .related ul.products li.product,
.woocommerce .upsells ul.products li.product,
.woocommerce-page .upsells ul.products li.product,
.woocommerce .related ul li.product,
.woocommerce-page .related ul li.product,
.woocommerce .upsells ul li.product,
.woocommerce-page .upsells ul li.product {
  width: 50%;
  padding: 15px;
}
.woocommerce.columns-1 ul.products li.product,
.woocommerce-page.columns-1 ul.products li.product {
  width: 100%;
}
.woocommerce.columns-2 ul.products li.product,
.woocommerce-page.columns-2 ul.products li.product {
  width: 50%;
}
.woocommerce.columns-3 ul.products li.product,
.woocommerce-page.columns-3 ul.products li.product {
  width: 33.333%;
}
.woocommerce.columns-5 ul.products li.product,
.woocommerce-page.columns-5 ul.products li.product {
  width: 20%;
}
.woocommerce.columns-6 ul.products li.product,
.woocommerce-page.columns-6 ul.products li.product {
  width: 16.666%;
}
.woocommerce table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text,
.woocommerce #content table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text {
  width: 120px;
}
.woocommerce .cart-collaterals .related,
.woocommerce-page .cart-collaterals .related {
  width: 30.75%;
  float: left;
}
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  text-align: inherit;
}
.woocommerce .cart-collaterals .cart_totals table,
.woocommerce-page .cart-collaterals .cart_totals table {
  width: 100%;
}
.woocommerce .quantity .qty,
.woocommerce-page .quantity .qty {
  padding: 0.5em;
}
.woocommerce .woocommerce-message:before,
.woocommerce-page .woocommerce-message:before,
.woocommerce .woocommerce-error:before,
.woocommerce-page .woocommerce-error:before,
.woocommerce .woocommerce-info:before,
.woocommerce-page .woocommerce-info:before {
  height: 2.5em;
  line-height: 1.5;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text,
.woocommerce-page #reviews #comments ol.commentlist li .comment-text {
  margin: 0;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar + .comment-text,
.woocommerce-page #reviews #comments ol.commentlist li img.avatar + .comment-text {
  margin-left: 42px;
}
.woocommerce .woocommerce-shipping-fields .radio,
.woocommerce-page .woocommerce-shipping-fields .radio,
.woocommerce .woocommerce-shipping-fields .checkbox,
.woocommerce-page .woocommerce-shipping-fields .checkbox {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
.woocommerce ul#shipping_method li,
.woocommerce-page ul#shipping_method li {
  padding: 0;
  text-indent: 0;
}
.woocommerce #payment .payment_method_paypal .about_paypal,
.woocommerce-page #payment .payment_method_paypal .about_paypal {
  float: left;
}
.woocommerce mark.count,
.woocommerce-page mark.count {
  background-color: transparent;
}
.woocommerce span.onsale,
.woocommerce-page span.onsale {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}
.woocommerce .label,
.woocommerce-page .label {
  color: inherit;
  font-size: inherit;
}
/* END WooCommerce Class*/
/* = Widgets WooCommerce
-------------------------------------------------------------- */
.widget .product_list_widget li {
  list-style: none !important;
}
.widget_product_search label {
  display: none;
}
.widget_layered_nav ul li,
.widget_layered_nav_filters ul li {
  list-style: none !important;
}
.widget_shopping_cart_content .buttons .button {
  display: inline-block;
}
.widget_shopping_cart_content .buttons .button.checkout {
  float: right;
}
/* END WooCommerce Widgets */
/* = Pojo Responsive - Media Queries
----------------------------------------------- */
/* For desktops */
.pojo-visible-phone {
  display: none !important;
}
.pojo-visible-tablet {
  display: none !important;
}
.pojo-hidden-desktop {
  display: none !important;
}
.pojo-visible-desktop {
  display: inherit !important;
}
/* Tablets & small desktops only */
@media (min-width: 768px) and (max-width: 979px) {
  .pojo-hidden-desktop {
    display: inherit !important;
  }
  .pojo-visible-desktop {
    display: none !important ;
  }
  .pojo-visible-tablet {
    display: inherit !important;
  }
  .pojo-hidden-tablet {
    display: none !important;
  }
}
/* Phones only */
@media (max-width: 767px) {
  .pojo-hidden-desktop {
    display: inherit !important;
  }
  .pojo-visible-desktop {
    display: none !important;
  }
  .pojo-visible-phone {
    display: inherit !important;
  }
  /* Use inherit to restore previous behavior */
  .pojo-hidden-phone {
    display: none !important;
  }
}
div.custom-embed > iframe {
  width: 100%;
}
/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* =Product Loops
-------------------------------------------------------------- */
  .woocommerce,
  .woocommerce-page {
    /* Products */
  }
  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product {
    width: 50%;
  }
  .woocommerce.columns-1 ul.products li.product,
  .woocommerce-page.columns-1 ul.products li.product {
    width: 100%;
  }
  .woocommerce.columns-2 ul.products li.product,
  .woocommerce-page.columns-2 ul.products li.product {
    width: 50%;
  }
  .woocommerce.columns-3 ul.products li.product,
  .woocommerce-page.columns-3 ul.products li.product {
    width: 33.333%;
  }
  .woocommerce.columns-5 ul.products li.product,
  .woocommerce-page.columns-5 ul.products li.product {
    width: 33.333%;
  }
  .woocommerce.columns-6 ul.products li.product,
  .woocommerce-page.columns-6 ul.products li.product {
    width: 33.333%;
  }
}
/* Extra Small (phones, less than 768px)  */
@media only screen and (max-width: 767px) {
  .section .columns {
    margin-left: 0;
    margin-right: 0;
  }
  .column-1,
  .column-2,
  .column-2-5,
  .column-3,
  .column-4,
  .column-5,
  .column-6,
  .column-7,
  .column-8,
  .column-9,
  .column-10,
  .column-11,
  .column-12 {
    float: none;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .column-1.advanced-column,
  .column-2.advanced-column,
  .column-2-5.advanced-column,
  .column-3.advanced-column,
  .column-4.advanced-column,
  .column-5.advanced-column,
  .column-6.advanced-column,
  .column-7.advanced-column,
  .column-8.advanced-column,
  .column-9.advanced-column,
  .column-10.advanced-column,
  .column-11.advanced-column,
  .column-12.advanced-column {
    margin-bottom: 20px;
  }
  .column-1.advanced-column:last-child,
  .column-2.advanced-column:last-child,
  .column-2-5.advanced-column:last-child,
  .column-3.advanced-column:last-child,
  .column-4.advanced-column:last-child,
  .column-5.advanced-column:last-child,
  .column-6.advanced-column:last-child,
  .column-7.advanced-column:last-child,
  .column-8.advanced-column:last-child,
  .column-9.advanced-column:last-child,
  .column-10.advanced-column:last-child,
  .column-11.advanced-column:last-child,
  .column-12.advanced-column:last-child {
    margin-bottom: 0;
  }
  .alignright,
  .alignleft {
    float: none;
  }
  /* = Pojo Forms
	----------------------------------------------- */
  .pojo-form .columns {
    margin-left: 0;
    margin-right: 0;
  }
  .pojo-form .columns .field-group,
  .pojo-form .columns .form-actions {
    padding-left: 0;
    padding-right: 0;
  }
  .pojo-form.form-align-left .label-field,
  .pojo-form.form-align-right .label-field {
    display: block;
    width: 100%;
    padding: 0;
    text-align: inherit;
  }
  .pojo-form.form-align-left .field,
  .pojo-form.form-align-right .field,
  .pojo-form.form-align-left .field-list-items,
  .pojo-form.form-align-right .field-list-items {
    width: 100%;
  }
  .pojo-form.form-align-left .pojo-button-wrap,
  .pojo-form.form-align-right .pojo-button-wrap {
    margin-left: 0;
  }
  .pojo-form.form-align-left .form-message,
  .pojo-form.form-align-right .form-message {
    margin-left: 0;
  }
  .pojo-form.form-align-left .help-inline,
  .pojo-form.form-align-right .help-inline {
    margin-left: 0;
  }
  body.rtl .pojo-form.form-align-left.form-align-left .label-field,
  body.rtl .pojo-form.form-align-right.form-align-left .label-field,
  body.rtl .pojo-form.form-align-left.form-align-right .label-field,
  body.rtl .pojo-form.form-align-right.form-align-right .label-field {
    text-align: inherit;
  }
  body.rtl .pojo-form.form-align-left.form-align-left .pojo-button-wrap,
  body.rtl .pojo-form.form-align-right.form-align-left .pojo-button-wrap,
  body.rtl .pojo-form.form-align-left.form-align-right .pojo-button-wrap,
  body.rtl .pojo-form.form-align-right.form-align-right .pojo-button-wrap {
    margin-right: 0;
  }
  body.rtl .pojo-form.form-align-left.form-align-left .form-message,
  body.rtl .pojo-form.form-align-right.form-align-left .form-message,
  body.rtl .pojo-form.form-align-left.form-align-right .form-message,
  body.rtl .pojo-form.form-align-right.form-align-right .form-message {
    margin-right: 0;
  }
  body.rtl .pojo-form.form-align-left.form-align-left .help-inline,
  body.rtl .pojo-form.form-align-right.form-align-left .help-inline,
  body.rtl .pojo-form.form-align-left.form-align-right .help-inline,
  body.rtl .pojo-form.form-align-right.form-align-right .help-inline {
    margin-right: 0;
  }
  body.rtl .pojo-form.form-align-left.form-align-right .label-field,
  body.rtl .pojo-form.form-align-right.form-align-right .label-field {
    text-align: inherit;
  }
  /* = Widgets
	----------------------------------------------- */
  ul.pojo-catalog-list li .pojo-catalog-item {
    padding: 10px 0;
  }
  ul.pojo-catalog-list li .pojo-catalog-item .catalog-item-thumbnail {
    margin-right: 10px;
  }
  /* = WooCommerce
	----------------------------------------------- */
  .woocommerce,
  .woocommerce-page {
    /* General layout */
    /* Products */
    /* Product Details */
    /* Cart */
  }
  .woocommerce .col2-set .col-1,
  .woocommerce-page .col2-set .col-1,
  .woocommerce .col2-set .col-2,
  .woocommerce-page .col2-set .col-2 {
    float: none;
    width: 100%;
    padding: 0;
  }
  .woocommerce ul.products,
  .woocommerce-page ul.products {
    margin-left: 0;
    margin-right: 0;
  }
  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product {
    width: 50%;
    padding: 10px;
  }
  .woocommerce ul.products li.product:nth-child(2n),
  .woocommerce-page ul.products li.product:nth-child(2n) {
    float: left;
    clear: none;
  }
  .woocommerce .related.products,
  .woocommerce-page .related.products,
  .woocommerce .upsells.products,
  .woocommerce-page .upsells.products {
    width: 100%;
  }
  .woocommerce .related ul.products li.product,
  .woocommerce-page .related ul.products li.product,
  .woocommerce .upsells.products ul.products li.product,
  .woocommerce-page .upsells.products ul.products li.product,
  .woocommerce .related ul li.product,
  .woocommerce-page .related ul li.product,
  .woocommerce .upsells.products ul li.product,
  .woocommerce-page .upsells.products ul li.product {
    width: 50%;
  }
  .woocommerce.columns-2 ul.products li.product,
  .woocommerce-page.columns-2 ul.products li.product,
  .woocommerce.columns-3 ul.products li.product,
  .woocommerce-page.columns-3 ul.products li.product,
  .woocommerce.columns-5 ul.products li.product,
  .woocommerce-page.columns-5 ul.products li.product,
  .woocommerce.columns-6 ul.products li.product,
  .woocommerce-page.columns-6 ul.products li.product {
    width: 50%;
  }
  .woocommerce .woocommerce-ordering,
  .woocommerce-page .woocommerce-ordering,
  .woocommerce .woocommerce-result-count,
  .woocommerce-page .woocommerce-result-count {
    float: none;
  }
  .woocommerce div.product div.images,
  .woocommerce-page div.product div.images,
  .woocommerce #content div.product div.images,
  .woocommerce-page #content div.product div.images,
  .woocommerce div.product div.summary,
  .woocommerce-page div.product div.summary,
  .woocommerce #content div.product div.summary,
  .woocommerce-page #content div.product div.summary {
    float: none;
    width: 100%;
  }
  .woocommerce table.cart .product-thumbnail,
  .woocommerce-page table.cart .product-thumbnail,
  .woocommerce #content table.cart .product-thumbnail,
  .woocommerce-page #content table.cart .product-thumbnail {
    display: none;
  }
  .woocommerce table.cart td.actions input,
  .woocommerce-page table.cart td.actions input,
  .woocommerce #content table.cart td.actions input,
  .woocommerce-page #content table.cart td.actions input,
  .woocommerce table.cart td.actions .button,
  .woocommerce-page table.cart td.actions .button,
  .woocommerce #content table.cart td.actions .button,
  .woocommerce-page #content table.cart td.actions .button,
  .woocommerce table.cart td.actions .input-text,
  .woocommerce-page table.cart td.actions .input-text,
  .woocommerce #content table.cart td.actions .input-text,
  .woocommerce-page #content table.cart td.actions .input-text {
    width: 50%;
    margin: 0;
  }
  .woocommerce table.cart td.actions .coupon .input-text,
  .woocommerce-page table.cart td.actions .coupon .input-text,
  .woocommerce #content table.cart td.actions .coupon .input-text,
  .woocommerce-page #content table.cart td.actions .coupon .input-text {
    margin: 0;
  }
}
/* Extra Small (phones, less than 499px)  */
@media only screen and (max-width: 499px) {
  div.pojo-image-text img.alignleft,
  div.pojo-image-text img.alignright {
    float: none;
    margin: 0 auto;
    max-width: 100%;
  }
  /* = WooCommerce
	----------------------------------------------- */
  .woocommerce,
  .woocommerce-page {
    /* Products */
    /* Cart */
  }
  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product {
    width: 100%;
  }
  .woocommerce.columns-2 ul.products li.product,
  .woocommerce-page.columns-2 ul.products li.product,
  .woocommerce.columns-3 ul.products li.product,
  .woocommerce-page.columns-3 ul.products li.product,
  .woocommerce.columns-5 ul.products li.product,
  .woocommerce-page.columns-5 ul.products li.product,
  .woocommerce.columns-6 ul.products li.product,
  .woocommerce-page.columns-6 ul.products li.product {
    width: 100%;
  }
  .woocommerce .related ul.products li.product,
  .woocommerce-page .related ul.products li.product,
  .woocommerce .upsells.products ul.products li.product,
  .woocommerce-page .upsells.products ul.products li.product,
  .woocommerce .related ul li.product,
  .woocommerce-page .related ul li.product,
  .woocommerce .upsells.products ul li.product,
  .woocommerce-page .upsells.products ul li.product {
    width: 100%;
  }
  .woocommerce table.cart td.actions input,
  .woocommerce-page table.cart td.actions input,
  .woocommerce #content table.cart td.actions input,
  .woocommerce-page #content table.cart td.actions input,
  .woocommerce table.cart td.actions .button,
  .woocommerce-page table.cart td.actions .button,
  .woocommerce #content table.cart td.actions .button,
  .woocommerce-page #content table.cart td.actions .button,
  .woocommerce table.cart td.actions .input-text,
  .woocommerce-page table.cart td.actions .input-text,
  .woocommerce #content table.cart td.actions .input-text,
  .woocommerce-page #content table.cart td.actions .input-text {
    width: 100%;
  }
}
