/*
************* Customize for POJO *****************
*/

#customize-controls {
	font-size: 12px;
}

#customize-controls textarea,
#customize-controls input,
#customize-controls select {
	font-size: 13px;
}

#customize-controls ul.at-image-ul-wrap {
	max-width: 100%;
	padding: 0;
}

#customize-controls ul.at-image-ul-wrap li.image {
	display: block;
}

#customize-controls ul.at-image-ul-wrap li img {
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 3px;
	vertical-align: middle;
	width: auto;
	height: auto;
	max-width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.pojo-customize-font-and-size {
	 background-color: #666666;
	 background-image: url(images/aa.png);
	 background-position: 5% center;
	 background-repeat: no-repeat;
}

.pojo-customize-font-and-size:hover,
.pojo-customize-font-and-size:focus {
	background-color: #333333 !important;
	background-image: url(images/aa.png);
	background-position: 5% center;
	background-repeat: no-repeat;
}

.pojo-customize-bg-image,
.pojo-customize-bg-image:hover,
.pojo-customize-bg-image:focus {
	background-image: url(images/empty-image.png);
	background-position: 7% center;
	background-repeat: no-repeat;
}

/*= Columns
----------------------------------------------*/

.pojo-row:before, .pojo-row:after {
	content: " ";
	display: table;
}

.pojo-row:after {
	clear: both;
}

.pojo-column {
	float: left;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.column-3 {
	width: 25%;
}
.column-4 {
	width: 33.3333%;
}
.column-5 {
	width: 41.6667%;
}
.column-6 {
	width: 50%;
}
.column-7 {
	width: 58.3333%;
}

.pojo-column select {
	width: 100%;
}


/*= Color Picker
----------------------------------------------*/

.wp-picker-open + .wp-picker-input-wrap input[type="text"] {
	max-width: 80px;
}

.wp-picker-input-wrap {
	position: absolute;
}

.wp-full-overlay {
	z-index: 150000 !important;
}

/*= Background Opacity
----------------------------------------------*/

.background-color-opacity {
	margin: 5px 0;
	display: block;
}

.background-color-opacity .customize-control-title {
	font-weight: normal;
	font-size: 13px;
	display: inline-block;
}

.background-color-opacity input[type="number"] {
	display: inline-block;
	width: 55px;
	margin: 0px 5px;
}

/*= Custom Image
----------------------------------------------*/

.at-upload-image-wrap {
	margin-bottom: 10px;
}

.image {
	position: relative;
}

.image img {
	max-width: 100%;
	height: auto;
}

.image-delete {
	opacity: 0;
	position: absolute;
	right: -5px;
	top: -5px;
	transition: all 0.3s ease-in-out 0s;
}

.image:hover .image-delete {
	opacity: 1;
}

/*= Image Radio
----------------------------------------------*/

.radio-image-item {display: inline-block;text-align: center;vertical-align: top;width: 60px;font-size: 11px;line-height: 1.2em;color: #888888;}
.radio-image-item label {vertical-align: top;}

img.radio-select-img-item { border: 2px solid #dfdfdf;margin: 0 auto;cursor: pointer;opacity: 0.9;max-width: 40px;height: auto;}
img.radio-select-img-item:hover {border-color: #666666;opacity: 0.9;}
img.radio-select-img-item.item-checked {border-color: #1E8CBE;opacity: 1;}

.radio-select-img-item:hover + label {color: #666666;}
.radio-select-img-item.item-checked + label {color: #1E8CBE;}

/*= Custom CSS
----------------------------------------------*/

#customize-control-pojo_custom_css textarea {
	direction: ltr;
	text-align: left;
}

/*= RTL
----------------------------------------------*/
body.rtl .pojo-column { float: right; }
body.rtl #customize-controls .image-delete {left: auto;right: -5px;}
body.rtl .pojo-customize-font-and-size,
body.rtl .pojo-customize-font-and-size:hover,
body.rtl .pojo-customize-font-and-size:focus {
	background-position: 97% center;
}

body.rtl .pojo-customize-bg-image,
body.rtl .pojo-customize-bg-image:hover,
body.rtl .pojo-customize-bg-image:focus {
	background-position: 92% center;
}